@import '~@alauda/ui/theme/var';

::ng-deep {
  .image-option {
    .aui-option {
      padding: 0;
      line-height: auto;
      height: auto;
    }
  }
}
.repository {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .image-name {
    line-height: 20px;
    font-size: 14px;
  }
  .repo-endpoint {
    color: #999;
    line-height: 16px;
    font-size: 12px;
  }
}
.repository-label {
  display: flex;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.modify {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  justify-content: space-between;
  padding: 6px;

  aui-icon {
    color: $color-primary;
    cursor: pointer;
  }
}

.select {
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 100%;

  .select-button {
    margin: 5px 8px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 28px;
    border: 1px dotted #ccc;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    aui-icon {
      margin-right: 8px;
    }

    &:hover {
      background-color: $button-default-bg-hover;
    }
  }
}

.tags {
  padding-left: 6px;
  padding-bottom: 6px;
  margin-top: -6px;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-wrapper {
      margin-right: 8px;
      border: solid 1px #696566;
      color: #59ab2e;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      aui-icon {
        font-size: 12px;
        line-height: 12px;
        transform: scale((10 / 12));
      }
    }
  }
}
