<div
  class="acl-pipeline-diagram"
  *ngIf="model"
  [style.width]="width * gridX - endOffset * 2 + margin * 2 + 'px'"
  [style.height]="height * gridY + margin * 2 + 'px'"
>
  <div
    class="acl-pipeline-diagram__surface"
    [style.transform]="surfaceTransform"
  >
    <svg
      [style.width]="width * gridX - endOffset * 2 + 'px'"
      [style.height]="height * gridY + 'px'"
    >
      <g [attr.transform]="svgTransform">
        <path
          *ngFor="let link of model.links; trackBy: tracker"
          [attr.d]="linkPath(link)"
          [class.skip]="
            (link.from.skipped || link.to.skipped) && link.from.y === link.to.y
          "
          [class.passed]="
            !hideStatus &&
            link.from.passed &&
            (!link.to.skipped || link.from.y !== link.to.y)
          "
        />
      </g>
    </svg>
    <ng-container *ngFor="let node of model.nodes; trackBy: tracker">
      <div
        class="acl-pipeline-diagram__node"
        [style.left]="
          (node.type === 'START'
            ? 0
            : node.type === 'END'
            ? node.x * gridX - 2 * endOffset
            : node.x * gridX - endOffset) + 'px'
        "
        [style.top]="node.y * gridY + 'px'"
        [style.width]="gridX + 'px'"
        [style.height]="gridY + 'px'"
      >
        <div
          *ngIf="!node.parallels.length"
          class="acl-pipeline-diagram__node-icon"
          [class.acl-pipeline-diagram__node-icon--collapsed]="
            node.type === 'STAGE-COLLAPSED'
          "
          [class.acl-pipeline-diagram__node-icon--selected]="
            selected?.id === node?.data?.id
          "
          [class.acl-pipeline-diagram__node-icon--end]="
            ['START', 'END'].includes(node.type)
          "
          [ngClass]="nodeClass(node)"
          [style.width]="
            ['START', 'END'].includes(node.type)
              ? endNodeRadius * 2 + 'px'
              : nodeRadius * 2 + 'px'
          "
          [style.height]="
            ['START', 'END'].includes(node.type)
              ? endNodeRadius * 2 + 'px'
              : nodeRadius * 2 + 'px'
          "
          (click)="clickNode(node)"
        >
          <aui-icon
            *ngIf="
              !hideStatus &&
              node.data?.status &&
              !['START', 'END', 'NOT_BUILT', 'SKIPPED'].includes(
                node.data.status
              ) &&
              node.type !== 'STAGE-COLLAPSED'
            "
            [icon]="nodeIcon(node)"
            [size]="nodeRadius * 2 + 4 + 'px'"
          ></aui-icon>
        </div>
        <div
          *ngIf="!['START', 'END'].includes(node.type)"
          class="acl-pipeline-diagram__text"
          [class.acl-pipeline-diagram__text--selected]="
            selected?.id === node?.data?.id
          "
          [style.max-width]="gridX - textMarginX + 'px'"
        >
          <div [style.transform]="textTransform" [title]="node.data?.name">
            {{ node.data?.name }}
          </div>
        </div>
      </div>
      <ng-container *ngFor="let parallel of node.parallels; trackBy: tracker">
        <div
          class="acl-pipeline-diagram__node"
          [style.left]="parallel.x * gridX - endOffset + 'px'"
          [style.top]="parallel.y * gridY + 'px'"
          [style.width]="gridX + 'px'"
          [style.height]="gridY + 'px'"
        >
          <div
            class="acl-pipeline-diagram__node-icon"
            [class.acl-pipeline-diagram__node-icon--selected]="
              selected?.id === parallel?.data?.id
            "
            [ngClass]="nodeClass(parallel)"
            [style.width]="nodeRadius * 2 + 'px'"
            [style.height]="nodeRadius * 2 + 'px'"
            (click)="clickNode(parallel)"
          >
            <aui-icon
              *ngIf="
                !hideStatus &&
                parallel.data?.status &&
                !['NOT_BUILT', 'SKIPPED'].includes(parallel.data.status)
              "
              [icon]="nodeIcon(parallel)"
              [size]="nodeRadius * 2 + 4 + 'px'"
            ></aui-icon>
          </div>
          <div
            class="acl-pipeline-diagram__text"
            [class.acl-pipeline-diagram__text--selected]="
              selected?.id === parallel?.data?.id
            "
            [style.max-width]="gridX - textMarginX + 'px'"
          >
            <div
              [style.transform]="parallelTextTransform"
              [title]="parallel.data?.name"
            >
              {{ parallel.data?.name }}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
