@import '~@alauda/ui/theme/base-var';

$status-color-map: (
  queued: $color-primary,
  pending: $color-primary,
  running: $color-primary,
  paused: $color-primary,
  failed: $color-error,
  complete: $color-success,
  cancelled: #999,
  aborted: #999,
);

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.acl-pipeline-diagram {
  &__surface {
    position: relative;
    > svg {
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      path {
        stroke: #ccc;
        stroke-width: 2px;
        fill: none;
        &.skip {
          stroke: #ccc;
        }
        &.passed {
          stroke: #999;
        }
      }
    }
  }
  &__node {
    position: absolute;
    transform: translate(50%, 50%);
  }
  &__node-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #ccc;
    background-color: #fff;
    transform: translate(-50%, -50%);
    font-size: 0;
    &--selected {
      box-shadow: 0 0 0 4px #ccc;
    }
    &--end {
      border: none;
      background-color: #ccc;
      box-shadow: none;
    }
    &--collapsed {
      border-radius: 0;
      position: relative;
      &:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: calc(-25% - 4px);
        left: 25%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border: solid 2px #ccc;
        background-color: #fff;
      }
    }
    @each $status, $color in $status-color-map {
      &--#{$status} {
        color: $color;
        &.acl-pipeline-diagram__node-icon--selected {
          box-shadow: 0 0 0 4px #fff, 0 0 0 6px $color;
        }
      }
      &--running {
        > aui-icon {
          animation: rotate 4s linear infinite;
        }
      }
    }
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    > div {
      pointer-events: all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      color: #4d4d4d;
    }
    &--selected {
      > div {
        color: #333;
        font-weight: 500;
      }
    }
  }
}
