@import '~@alauda/ui/theme/var';

.menu {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 28px;
  border-radius: 2px;
  color: $color-text-help;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: rgba($color-white, 0.16);
  }

  &__icon {
    font-size: 16px;
    margin-right: 4px;
  }

  &__pointer {
    font-size: 12px;
    margin-left: 2px;
  }
}
