<ng-container *ngIf="menus$ | async as menus">
  <div
    *ngIf="hasPermission(menus)"
    class="menu"
    [auiDropdown]="menu"
    auiDropdownPosition="top start"
  >
    <aui-icon icon="basic:gears_s" class="menu__icon"></aui-icon>
    <span>{{ 'platform_center' | translate }}</span>
    <aui-icon class="menu__pointer" icon="angle_down"></aui-icon>
  </div>

  <aui-menu #menu>
    <ng-container *ngFor="let item of menus">
      <aui-menu-item
        *ngIf="item.allowed"
        [actived]="isActive(item)"
        (click)="navigateToLink(item.href)"
      >
        <aui-icon [icon]="item.icon"></aui-icon>
        <span>{{ item.label | translate }}</span>
      </aui-menu-item>
    </ng-container>
  </aui-menu>
</ng-container>
