@import '~@alauda/ui/theme/var';
.layout-page-content {
  height: calc(100vh - #{$page-header-height} - #{2 * $page-content-padding});
}
.error-page {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      margin-top: 102px;
      width: 160px;
      height: 160px;
    }
  }
  &__title {
    font-size: 18px;
    margin-top: 16px;
  }
  &__content {
    color: $color-text-help;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
