<aui-page>
  <ng-container *auiPageHeader>
    <ng-content></ng-content>
  </ng-container>
  <div *auiPageContent class="layout-page-content">
    <div class="error-page__wrapper">
      <img src="icons/license-error.svg" />
      <span class="error-page__title">
        {{ errorStatus$ | async | pure: getErrorTitle | translate }}
      </span>
      <span class="error-page__content">
        {{ errorStatus$ | async | pure: getErrorContent:translate.locale }}
      </span>
      <a
        href="/console-platform/manage-platform/license"
        target="_blank"
        *ngIf="errorStatus$ | async | pure: shouldShowImport"
        noopener
        noreferrer
      >
        <button aui-button="primary">
          {{ 'import_now' | translate }}
        </button>
      </a>
    </div>
  </div>
</aui-page>
