.acl-product-select {
  border-radius: 2px;
  padding: 6px;
  display: inline-block;
  &:link,
  &:visited {
    color: #999;
  }
  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  aui-icon {
    height: 16px;
    display: block;
  }

  &--active {
    &:link,
    &:visited {
      color: #fff;
    }

    background-color: rgba(255, 255, 255, 0.2);
  }

  &__no-result {
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    color: #ccc;
  }
}
