<a
  class="acl-product-select"
  href="javascript:;"
  [auiDropdown]="menu"
  [auiDropdownPosition]="'bottom start'"
  [auiDropdownClass]="'acl-product-select__menu'"
  auiDropdownActive="acl-product-select--active"
  [auiDropdownHideOnClick]="true"
  title="{{ 'switch_product' | translate }}"
>
  <aui-icon icon="basic:menu_dot_s" size="16px"></aui-icon>
</a>
<aui-menu #menu>
  <div
    class="acl-product-select__options"
    *ngIf="products$ | async as products"
  >
    <aui-menu-group>
      <span auiMenuGroupTitle>{{ 'product' | translate }}</span>
      <ng-container *ngIf="products.length; else noResult">
        <aui-menu-item
          *ngFor="let item of products; trackBy: trackFn"
          (click)="navigate(item)"
          [actived]="item.name === current"
        >
          {{ item.displayName }}
        </aui-menu-item>
      </ng-container>
    </aui-menu-group>
  </div>
</aui-menu>

<ng-template #noResult>
  <div class="acl-product-select__no-result">
    {{ 'no_product' | translate }}
  </div>
</ng-template>
