<div class="select">
  <div class="select-button" (click)="open()" *ngIf="!repository; else modify">
    <aui-icon icon="basic:plus"></aui-icon>
    {{ intl.pipelineSelect }}
  </div>
  <ng-template #modify>
    <div class="modify">
      {{ repository | pure: fullPath }}
      <aui-icon
        (click)="open()"
        icon="basic:pencil_edit"
        title="{{ intl.pipelineChange }}"
      ></aui-icon>
    </div>
  </ng-template>
</div>
