@import '../../styles/required-wrapper';

:host {
  aui-form-item {
    ::ng-deep .aui-form-item {
      &__addon-wrapper {
        width: auto;
      }
    }
  }
}

acl-image-push-tags {
  display: block;
  margin-bottom: 16px;
}
