<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ intl.pipelineImageRepository }}
    </label>
    <div auiFormItemControl required class="required-wrapper">
      <input
        aui-input
        formControlName="fullPath"
        [auiAutocomplete]="suggestions"
        auiAutocompleteTrigger="input"
      />
      <aui-autocomplete #suggestions>
        <aui-suggestion-group>
          <aui-suggestion
            *ngFor="let image of (imageRepositories$ | async).data"
            [value]="image.repositoryPath"
          >
            {{ image.repositoryPath }}
          </aui-suggestion>
        </aui-suggestion-group>
      </aui-autocomplete>
    </div>
  </aui-form-item>
  <acl-image-push-tags [form]="tags" [context]="context"></acl-image-push-tags>
  <aui-form-item>
    <label auiFormItemLabel>{{ intl.pipelineSecret }}</label>
    <aui-select
      *ngIf="secrets$ | async as secrets"
      [loading]="secrets.loading"
      formControlName="secret"
      auiFormItemControl
      [clearable]="true"
      [filterable]="true"
      [trackFn]="secretTracker"
    >
      <aui-option
        *ngFor="let secret of secrets.data"
        [label]="secret.name"
        [value]="secret"
      >
        <span>{{ secret.name }}</span>
        <span class="secret-group__display-name" *ngIf="!!secret.displayName">
          ({{ secret.displayName }})
        </span>
      </aui-option>
      <aui-option-placeholder>
        {{ intl.noData }}
      </aui-option-placeholder>
    </aui-select>
    <div auiFormItemAddon>
      <acl-disabled-container [isAllowed]="(canCreateSecret$ | async)?.data">
        <button (click)="addSecret()" aui-button type="button">
          {{ intl.pipelineSecretAdd }}
        </button>
      </acl-disabled-container>
    </div>
  </aui-form-item>
</ng-container>
