<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ intl.pipelineImageRepository }}
    </label>
    <div auiFormItemControl required class="required-wrapper">
      <aui-select
        *ngIf="imageRepositories$ | async as imageRepositories"
        [loading]="imageRepositories.loading"
        formControlName="repository"
        filterable
        [trackFn]="repositoryTracker"
        [filterFn]="filterFn"
      >
        <aui-option
          class="image-option"
          *ngFor="let repository of imageRepositories.data"
          [label]="optionLabelTemplate"
          [labelContext]="{ repository: repository }"
          [value]="repository"
        >
          <div class="repository">
            <img [src]="repository.type | pure: getImage" />
            <div>
              <div class="image-name">{{ repository.image }}</div>
              <div class="repo-endpoint">{{ repository.endpoint }}</div>
            </div>
          </div>
        </aui-option>
        <aui-option-placeholder>{{ intl.noData }}</aui-option-placeholder>
      </aui-select>
    </div>
  </aui-form-item>
  <acl-image-push-tags [form]="tags" [context]="context"></acl-image-push-tags>
</ng-container>

<ng-template #optionLabelTemplate let-repository="repository">
  <div class="repository-label">
    <img [src]="repository.type | pure: getImage" />
    <span>{{ repository.repositoryPath }}</span>
  </div>
</ng-template>
