<acl-dynamic-form
  [template]="template"
  [model]="model"
  [controlMapper]="controlMapper"
>
  <ng-container *aclDynamicFormDef="let form; let state = state">
    <div *ngIf="state?.pending">Loading</div>
    <form *ngIf="state && !state.pending" [formGroup]="form" #ngForm="ngForm">
      <ng-container *ngFor="let group of template; trackBy: groupTracker">
        <div
          *ngIf="!state.groups[group.displayName.en].hidden"
          style="border: solid 1px #ccc"
        >
          <div style="border-bottom: solid 1px #ccc; padding: 12px 8px">
            {{ group.displayName['zh-CN'] }}
          </div>
          <div style="padding: 20px;">
            <div
              *ngFor="let item of group.items; trackBy: fieldTracker"
              style="display: flex; margin-bottom: 20px; align-items: center"
            >
              <ng-container *ngIf="!state.controls[item.name].hidden">
                <label style="width: 80px">
                  {{ item.display.name['zh-CN'] }}
                </label>
                <ng-container [ngSwitch]="item.display?.type">
                  <select
                    *ngSwitchCase="'resource1'"
                    [formControlName]="item.name"
                  >
                    <option value="" disabled>Please select</option>
                    <option
                      *ngFor="let option of state.controls[item.name].options"
                      [ngValue]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                  <select
                    *ngSwitchCase="'resource2'"
                    [formControlName]="item.name"
                  >
                    <option value="" disabled>Please select</option>
                    <option
                      *ngFor="let option of state.controls[item.name].options"
                      [ngValue]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                  <select
                    *ngSwitchCase="'resource3'"
                    [formControlName]="item.name"
                  >
                    <option value="" disabled>Please select</option>
                    <option
                      *ngFor="let option of state.controls[item.name].options"
                      [ngValue]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                  <input
                    *ngSwitchDefault
                    [formControlName]="item.name"
                    style="border: solid 1px #ccc;padding: 8px; flex: 1"
                    pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
                    [required]="state.controls[item.name].required"
                  />
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <div>
        {{ ngForm.value | json }}
      </div>
      <pre style="border: solid 1px #ccc; margin-top: 20px; padding: 12px 8px">
        {{ state | json }}
      </pre>
    </form>
  </ng-container>
</acl-dynamic-form>
