@import '../../styles/repository';
@import '../../styles/required-wrapper';

.required-wrapper {
  .tags-select {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    > * {
      width: 240px;
    }
    &:before {
      content: ':';
      margin: auto 8px;
      flex-shrink: 0;
    }
  }
}
