<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ intl.pipelineImageRepositoryAddress }}
    </label>
    <div auiFormItemControl required class="required-wrapper">
      <aui-select
        *ngIf="imageRepositories$ | async as imageRepositories"
        [loading]="imageRepositories.loading"
        formControlName="repository"
        filterable
        [placeholder]="intl.pipelineSelectImagePlaceholder"
        [trackFn]="repositoryTracker"
        [filterFn]="filterFn"
      >
        <aui-option
          class="image-option"
          *ngFor="let repository of imageRepositories.data"
          [label]="optionLabelTemplate"
          [labelContext]="{ repository: repository }"
          [value]="repository"
        >
          <div class="repository">
            <img [src]="repository.type | pure: getImage" />
            <div>
              <div class="image-name">{{ repository.image }}</div>
              <div class="repo-endpoint">{{ repository.endpoint }}</div>
            </div>
          </div>
        </aui-option>
        <aui-option-placeholder>{{ intl.noData }}</aui-option-placeholder>
      </aui-select>
      <div class="tags-select">
        <aui-select
          *ngIf="tags$ | async as tags"
          [loading]="tags.loading"
          formControlName="tag"
          [placeholder]="intl.pipelineSelectOrInputImageTag"
          [allowCreate]="true"
          filterable
        >
          <aui-option
            *ngFor="let tag of tags.data"
            [value]="tag.name"
            [label]="tag.name"
          >
            <span>{{ tag.name }}</span>
            <span
              *ngIf="tag.level === 5 || tag.level === 4"
              title="tag.message"
            >
              <aui-icon
                icon="basic:exclamation_{{
                  tag.level === 5 ? 'triangle' : 'circle'
                }}_s"
              ></aui-icon>
            </span>
          </aui-option>
          <aui-option-placeholder>{{ intl.noData }}</aui-option-placeholder>
        </aui-select>
      </div>
    </div>
  </aui-form-item>
</ng-container>

<ng-template #optionLabelTemplate let-repository="repository">
  <div class="repository-label">
    <img [src]="repository.type | pure: getImage" />
    <span>{{ repository.repositoryPath }}</span>
  </div>
</ng-template>
