<form [formGroup]="form" auiForm auiFormLabelWidth="150px" (submit)="submit()">
  <aui-dialog-header>{{ intl.pipelineSelectImage }}</aui-dialog-header>
  <aui-dialog-content>
    <aui-form-item>
      <label auiFormItemLabel>{{ intl.pipelineMethod }}</label>
      <aui-radio-group auiFormItemControl formControlName="type">
        <aui-radio-button value="select">
          {{ intl.pipelineSelect }}
        </aui-radio-button>
        <aui-radio-button value="input">
          {{ intl.pipelineInput }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <acl-image-pull-select
      *ngIf="isSelect$ | async; else input"
      [form]="form"
      [context]="data.context"
    ></acl-image-pull-select>
    <ng-template #input>
      <acl-image-pull-input
        [form]="form"
        [context]="data.context"
      ></acl-image-pull-input>
    </ng-template>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button type="submit" aui-button="primary" [disabled]="form.invalid">
      {{ intl.pipelineConfirm }}
    </button>
    <button type="button" aui-button auiDialogClose>
      {{ intl.cancel }}
    </button>
  </aui-dialog-footer>
</form>
