.acl-data-state {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aui-icon {
    font-size: 24px;
  }

  .aui-button {
    margin-top: 8px;
  }
}
