<ng-container *ngIf="(context$ | async)?.$implicit">
  <ng-container
    [ngTemplateOutlet]="template"
    [ngTemplateOutletContext]="context$ | async"
  ></ng-container>
</ng-container>

<div *ngIf="!(context$ | async)?.$implicit" class="acl-data-state">
  <ng-container *ngIf="adapter.loading$ | async">
    <aui-icon icon="spinner"></aui-icon>
  </ng-container>
  <ng-container
    *ngIf="!(adapter.loading$ | async) && (errorCode$ | async) >= 0"
  >
    <acl-error-state
      [errorCode]="errorCode$ | async"
      [autoRedirect]="autoRedirect"
      (reload)="adapter.reload()"
      (redirect)="redirect.emit()"
    ></acl-error-state>
  </ng-container>
</div>
