@import '../var';

:host {
  display: block;
}

.acl-namespace-select {
  padding: 4px 8px;
  display: flex;
  &.disabled {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  > a {
    flex: 1;
    display: flex;
    border-radius: 2px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    padding: 0 8px;
    width: 100%;
    &:link,
    &:visited,
    &:hover {
      color: #fff;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    > span {
      flex: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 8px;
    }

    aui-icon {
      height: 16px;
    }
  }

  &--active {
    &:link,
    &:visited,
    &:hover {
      color: #fff;
    }

    background-color: rgba(255, 255, 255, 0.2);
  }

  &__menu {
    .aui-menu {
      max-width: 320px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    flex-shrink: 0;
    padding-bottom: 8px;
  }

  &__options {
    @include scroll-bar;

    flex: 1;
    overflow: auto;
  }

  &__display-name {
    color: #999;
    margin-left: 4px;
  }

  &__no-result {
    border-top: solid 1px #ededed;
    line-height: 28px;
    padding: 8px 0 0 0;
    margin: 0 -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
  }
}
