<div class="acl-namespace-select" [class.disabled]="!(hasNamespace$ | async)">
  <a
    *ngIf="hasNamespace$ | async; else empty"
    href="javascript:;"
    [auiDropdown]="menu"
    [auiDropdownPosition]="'bottom start'"
    [auiDropdownClass]="'acl-namespace-select__menu'"
    [auiDropdownHideOnClick]="hideOnClick"
    auiDropdownActive="acl-namespace-select--active"
    (auiDropdownShow)="hideOnClick = false"
    title="{{ 'namespace' | translate }}: {{ selected?.name }}"
  >
    <aui-icon icon="basic:namespace_s" size="16px" color="#fff"></aui-icon>
    <ng-container>
      <span>{{ selected ? selected.name : '-' }}</span>
      <aui-icon icon="caret_down_s" size="16px"></aui-icon>
    </ng-container>
  </a>
</div>
<aui-menu #menu>
  <div class="acl-namespace-select__input">
    <aui-search
      [placeholder]="'filter_by_name' | translate"
      [searchButton]="false"
      (keywordChange)="keywords$$.next($event)"
    ></aui-search>
  </div>
  <ng-container *ngIf="groups$ | async as groups">
    <div
      class="acl-namespace-select__options"
      *ngIf="groups | pure: hasResult; else noResult"
    >
      <ng-container *ngFor="let group of groups; trackBy: groupTrackFn">
        <aui-menu-group *ngIf="group.namespaces?.length">
          <span auiMenuGroupTitle>{{ group.cluster | pure: displayName }}</span>
          <aui-menu-item
            *ngFor="let item of group.namespaces; trackBy: trackFn"
            [actived]="actived(group, item)"
            (click)="onSelect(group, item)"
            title="{{ item | pure: name }}"
          >
            <span>{{ item | pure: name }}</span>
            <span
              *ngIf="item | pure: displayName"
              class="acl-namespace-select__display-name"
            >
              ({{ item | pure: displayName }})
            </span>
          </aui-menu-item>
        </aui-menu-group>
      </ng-container>
    </div>
  </ng-container>
</aui-menu>

<ng-template #empty>
  <a href="javascript:;">
    <aui-icon icon="basic:namespace_s" size="16px" color="#fff"></aui-icon>
    <span>{{ 'no_namespace' | translate }}</span>
    <aui-icon icon="caret_down_s" size="16px" color="#999"></aui-icon>
  </a>
</ng-template>

<ng-template #noResult>
  <div class="acl-namespace-select__no-result">
    {{ 'no_namespace' | translate }}
  </div>
</ng-template>
