@import '~@alauda/ui/theme/var';
.acl-page-guard--pending {
  display: flex;
  justify-content: center;

  aui-icon {
    font-size: 24px;
  }
}

:host ::ng-deep {
  .acl-page-guard--unavailable {
    padding-top: 80px;
    .container {
      margin: auto;
      height: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 160px;
      }

      .title {
        margin: 16px 0 8px 0;
        font-size: $font-size-regular;
        color: $color-text-main;
      }

      .description {
        color: $color-text-help;
        font-size: $font-size-small;
        text-align: center;
        margin: 0;
      }
      .operation {
        margin-top: 16px;
      }
    }
  }
}
