<ng-container *ngIf="status === 'available'">
  <ng-container *ngIf="template" [ngTemplateOutlet]="template"></ng-container>
</ng-container>

<ng-container *ngIf="status === 'unavailable'">
  <div class="acl-page-guard--unavailable">
    <div class="container">
      <img [attr.src]="reasonModel.src" />
      <h3 *ngIf="title || reasonModel.title" class="title">
        {{ title || (reasonModel.title | translate) }}
      </h3>

      <ng-container
        class="description"
        [ngTemplateOutlet]="descriptionTpl"
      ></ng-container>
      <ng-container *ngIf="!descriptionTpl">
        <ng-container *ngIf="isNonEmptyString(description)">
          <p class="description">{{ description }}</p>
        </ng-container>
        <ng-container *ngIf="isUndefined(description)">
          <p class="description">{{ reasonModel.description | translate }}</p>
        </ng-container>
      </ng-container>

      <div class="operation" *ngIf="isTemplateRef(operation)">
        <ng-container [ngTemplateOutlet]="operation"></ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="status !== 'available' && status !== 'unavailable'">
  <div class="acl-page-guard--pending">
    <aui-icon icon="spinner"></aui-icon>
  </div>
</ng-container>
