.brand-logo {
  height: 32px;
}

.logo-separator {
  height: 32px;
  width: 1px;
  background-color: #000;
  margin: 0 16px;
}

.project-title {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}

.title {
  font: {
    size: 18px;
    weight: 500;
  }

  margin-bottom: 2px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
