<a
  class="acl-project-select"
  href="javascript:;"
  [auiDropdown]="menu"
  [auiDropdownPosition]="'bottom start'"
  [auiDropdownClass]="'acl-project-select__menu'"
  [auiDropdownHideOnClick]="hideOnClick"
  auiDropdownActive="acl-project-select--active"
  (auiDropdownShow)="hideOnClick = false"
  title="{{ 'project' | translate }}: {{ selected }}"
>
  <span>{{ selected }}</span>
  <aui-icon icon="caret_down_s" size="16px"></aui-icon>
</a>
<aui-menu #menu>
  <div class="acl-project-select__input">
    <aui-search
      [placeholder]="'filter_by_name' | translate"
      [searchButton]="false"
      (keywordChange)="keywords$$.next($event)"
    ></aui-search>
  </div>
  <ng-container *ngIf="projects$ | async as projects">
    <div
      class="acl-project-select__options"
      *ngIf="projects.length; else noResult"
    >
      <aui-menu-item
        *ngFor="let item of projects; trackBy: trackFn"
        [actived]="actived(item)"
        (click)="onSelect(item)"
        title="{{ item | pure: name }}"
      >
        <span>{{ item | pure: name }}</span>
        <span
          *ngIf="item | pure: displayName"
          class="acl-project-select__display-name"
        >
          ({{ item | pure: displayName }})
        </span>
      </aui-menu-item>
    </div>
  </ng-container>
</aui-menu>

<ng-template #noResult>
  <div class="acl-project-select__no-result">
    {{ 'no_project' | translate }}
  </div>
</ng-template>
