@import '../var';

.acl-project-select {
  display: flex;
  max-width: 320px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  padding: 4px 6px;
  height: 28px;
  &:link,
  &:visited {
    color: #999;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  > span {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > aui-icon {
    flex-shrink: 0;
    margin-left: 2px;
  }

  &--active {
    &:link,
    &:visited {
      color: #fff;
    }

    background-color: rgba(255, 255, 255, 0.2);
  }

  &__menu {
    .aui-menu {
      max-width: 320px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    flex-shrink: 0;
    padding-bottom: 8px;
  }

  &__options {
    @include scroll-bar;

    flex: 1;
    overflow: auto;
  }

  &__display-name {
    color: #999;
    margin-left: 4px;
  }

  &__no-result {
    border-top: solid 1px #ededed;
    line-height: 28px;
    padding: 8px 0 0 0;
    margin: 0 -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
  }
}
