<div class="select">
  <div class="select-button" (click)="open()" *ngIf="!repository; else modify">
    <aui-icon icon="basic:plus"></aui-icon>
    {{ intl.pipelineSelect }}
  </div>
  <ng-template #modify>
    <div class="modify">
      {{ repository | pure: repositoryPath }}
      <aui-icon
        (click)="open()"
        icon="basic:pencil_edit"
        title="{{ intl.pipelineChange }}"
      ></aui-icon>
    </div>
    <div class="tags">
      <div *ngFor="let tag of repository.tag | pure: splitTags">
        <div class="icon-wrapper"><aui-icon icon="basic:tag_s"></aui-icon></div>
        <span>{{ tag }}</span>
      </div>
    </div>
  </ng-template>
</div>
