<aui-form-item *ngIf="form" [formGroup]="form">
  <label auiFormItemLabel>
    {{ intl.pipelineTemplateVersionChange }}
  </label>
  <div auiFormItemControl required class="tag-form-style">
    <div class="tag-item" *ngFor="let tag of form.controls; let i = index">
      <input
        aui-input
        [formControlName]="i"
        [auiAutocomplete]="tagsSuggestions"
        auiAutocompleteTrigger="input"
      />
      <aui-autocomplete #tagsSuggestions>
        <aui-suggestion-group>
          <aui-suggestion
            *ngFor="let option of suggestions$ | async"
            [value]="option.name | pure: wrapper"
          >
            <span>{{ option.name | pure: wrapper }}</span>
            <span>{{ option | pure: description:(intl.changes | async) }}</span>
          </aui-suggestion>
        </aui-suggestion-group>
      </aui-autocomplete>

      <aui-icon icon="basic:minus_circle" (click)="removeTag(i)"></aui-icon>
    </div>
    <button
      aui-button="primary"
      type="button"
      class="add-button"
      size="mini"
      [plain]="true"
      (click)="addTag()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ intl.pipelineAdd }}
    </button>
  </div>
</aui-form-item>
