.tag-form-style {
  background-color: #fafafa;
  padding: 12px;
  width: 100%;
  .tag-item {
    display: flex;
    margin-bottom: 12px;
    input {
      width: 100%;
    }
    aui-icon {
      color: #999;
      padding-left: 8px;
      line-height: 32px;
      cursor: pointer;
      &:hover {
        opacity: 1;
        color: #009ce3;
      }
    }
  }
  button {
    width: calc(100% - 22px);
    border-style: dashed;
  }
}
