<div *ngIf="errorCode === 403">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="239"
    height="205"
    viewBox="0 0 239 205"
  >
    <defs>
      <linearGradient
        id="noaccess-a"
        x1="49.999%"
        x2="49.999%"
        y1="100%"
        y2="0%"
      >
        <stop offset="0%" stop-color="gray" stop-opacity=".25" />
        <stop offset="54%" stop-color="gray" stop-opacity=".12" />
        <stop offset="100%" stop-color="gray" stop-opacity=".1" />
      </linearGradient>
      <linearGradient
        id="noaccess-b"
        x1="49.996%"
        x2="49.996%"
        y1="100%"
        y2="0%"
      >
        <stop offset="0%" stop-color="gray" stop-opacity=".25" />
        <stop offset="54%" stop-color="gray" stop-opacity=".12" />
        <stop offset="100%" stop-color="gray" stop-opacity=".1" />
      </linearGradient>
      <linearGradient id="noaccess-c" x1="50%" x2="50%" y1="100%" y2="0%">
        <stop offset="0%" stop-color="gray" stop-opacity=".25" />
        <stop offset="54%" stop-color="gray" stop-opacity=".2" />
        <stop offset="100%" stop-color="gray" stop-opacity=".2" />
      </linearGradient>
      <linearGradient
        id="noaccess-d"
        x1="49.996%"
        x2="49.996%"
        y1="100%"
        y2=".81%"
      >
        <stop offset="0%" stop-color="gray" stop-opacity=".25" />
        <stop offset="54%" stop-color="gray" stop-opacity=".12" />
        <stop offset="100%" stop-color="gray" stop-opacity=".1" />
      </linearGradient>
    </defs>
    <g fill="none" fill-rule="evenodd" transform="translate(0 -18)">
      <rect width="240" height="240" opacity=".4" />
      <g transform="translate(0 18)">
        <ellipse
          cx="173.76"
          cy="197.92"
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".2"
          rx="42.045"
          ry="6.744"
        />
        <g
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          transform="translate(.819)"
        >
          <path
            d="M23.573132,192.553882 C33.2674552,195.812251 45.0944309,193.83061 56.0930006,194.05983 C57.5994175,194.091871 56.9594678,194.68743 60.4002189,194.747489 C63.8409701,194.807547 72.1299976,193.535087 77.6477737,193.042142 C83.1655497,192.549197 88.5090553,187.804409 93.7087826,186.559722 C102.715233,184.41048 108.869943,184.637753 117.750654,186.979244 C118.564267,187.193675 123.902749,187.188134 124.778,187.101868 C126.72574,186.90962 133.220903,186.711714 134.581856,185.819483 C137.04735,184.212481 145.297643,189.010209 146.375064,186.893009 C142.543408,183.92053 146.75343,182.959452 150.719191,181.536405 C150.804607,176.644434 150.928926,169.524444 150.934305,169.216367 C150.996025,165.681525 125.946772,172.029372 118.00295,172.529712 C110.059127,173.030051 97.8244993,177.330934 89.8412291,177.335864 C79.9102184,177.348187 68.8248126,183.774526 58.9628358,182.906942 C52.1408134,182.305549 44.6925554,182.379491 38.2945979,184.139306 C31.3665592,186.069187 29.8404183,190.370134 23.573132,192.553882 Z"
            transform="rotate(-1 87.254 181.45)"
          />
          <path
            d="M2.67008214 93.2219666C6.43552699 109.309298 14.4067308 123.215517 27.0044863 129.956152 53.1847394 143.964272 112.228042 136.737982 156.294158 128.438479 178.560963 124.258197 198.772357 112.708877 213.673812 95.6502431L2.67008214 93.2219666zM233.7504 17.4987672L209.572166 17.4987672C208.418565 17.4987672 207.483386 16.5639896 207.483386 15.4108831 207.483386 14.2577765 208.418565 13.3229989 209.572166 13.3229989L213.749728 13.3229989C212.621728 13.2866699 211.726114 12.3621319 211.726114 11.2340307 211.726114 10.1059296 212.621728 9.18139155 213.749728 9.14506257L210.765136 9.14506257C209.637135 9.10873359 208.741522 8.1841955 208.741522 7.05609439 208.741522 5.92799327 209.637135 5.00345519 210.765136 4.96712621L223.384581 4.96712621C220.584357 3.66626382 217.322129 2.74048342 213.5415 2.25482813 179.131928-2.16159966 166.846514.765340703 162.510613 3.7659966 157.163941 7.4734544 151.199095 10.2009292 144.82647 11.5148002 123.587279 15.8922021 83.8939376 21.1606948 47.9053081 9.82801532 30.017276 4.19094498 16.7254293 13.7132576 8.75639449 29.6184684L237.947483 29.6184684C237.648156 24.9960707 236.752344 20.7292421 235.108216 16.9914309 234.731209 17.3179783 234.249257 17.4980556 233.7504 17.4987672zM.618174989 59.6423723C-.310467259 68.9974131.00534628339 78.4342162 1.55736716 87.7063101L213.836489 95.4659542C219.745969 88.6715644 224.707548 81.1084033 228.585928 72.982716L.618174989 59.6423723zM84.5771836 79.6669806L80.3996221 79.6669806C81.5532239 79.6669806 82.4884029 80.6017581 82.4884029 81.7548647 82.4884029 82.9079713 81.5532239 83.8427488 80.3996221 83.8427488L56.2213884 83.8427488C55.0677867 83.8427488 54.1326077 82.9079713 54.1326077 81.7548647 54.1326077 80.6017581 55.0677867 79.6669806 56.2213884 79.6669806L60.3989499 79.6669806C59.2709497 79.6306516 58.3753364 78.7061135 58.3753364 77.5780124 58.3753364 76.4499113 59.2709497 75.5253732 60.3989499 75.4890442L57.4143577 75.4890442C56.2863575 75.4527152 55.3907442 74.5281771 55.3907442 73.400076 55.3907442 72.2719749 56.2863575 71.3474368 57.4143577 71.3111078L81.5925914 71.3111078C82.7205916 71.3474368 83.616205 72.2719749 83.616205 73.400076 83.616205 74.5281771 82.7205916 75.4527152 81.5925914 75.4890442L84.5771836 75.4890442C85.3398762 75.4644805 86.0553894 75.857176 86.4440067 76.5136136 86.8326239 77.1700512 86.8326239 77.9859736 86.4440067 78.6424112 86.0553894 79.2988488 85.3398762 79.6915443 84.5771836 79.6669806zM237.958328 29.7637314L6.19910217 35.3986336C3.3793566 42.6444371 1.51181743 50.8333658.648541479 59.3214929L233.895725 59.3214929C235.418085 54.3352164 236.544418 49.2366319 237.264237 44.0732176 237.958328 39.0844104 238.235964 34.2582109 237.958328 29.7637314zM47.7035878 48.2294729L43.5260263 48.2294729C44.2722758 48.2294729 44.9618388 48.6274213 45.3349636 49.273415 45.7080884 49.9194086 45.7080884 50.7153055 45.3349636 51.3612992 44.9618388 52.0072928 44.2722758 52.4052412 43.5260263 52.4052412L19.3477926 52.4052412C18.6015431 52.4052412 17.9119801 52.0072928 17.5388553 51.3612992 17.1657306 50.7153055 17.1657306 49.9194086 17.5388553 49.273415 17.9119801 48.6274213 18.6015431 48.2294729 19.3477926 48.2294729L23.5253541 48.2294729C22.3973539 48.1931439 21.5017406 47.2686059 21.5017406 46.1405047 21.5017406 45.0124036 22.3973539 44.0878655 23.5253541 44.0515366L20.5407619 44.0515366C19.4127617 44.0152076 18.5171483 43.0906695 18.5171483 41.9625684 18.5171483 40.8344673 19.4127617 39.9099292 20.5407619 39.8736002L44.7189956 39.8736002C45.8469958 39.9099292 46.7426091 40.8344673 46.7426091 41.9625684 46.7426091 43.0906695 45.8469958 44.0152076 44.7189956 44.0515366L47.7035878 44.0515366C48.4662804 44.0269729 49.1817936 44.4196683 49.5704109 45.0761059 49.9590281 45.7325435 49.9590281 46.548466 49.5704109 47.2049036 49.1817936 47.8613412 48.4662804 48.2540366 47.7035878 48.2294729z"
          />
        </g>
        <g fill-rule="nonzero" transform="rotate(-20 261.303 -13.412)">
          <polygon
            fill="url(#noaccess-a)"
            points="0 0 0 5.394 0 106.906 153.96 106.906 153.96 5.394 153.96 0"
          />
          <rect
            width="150.044"
            height="98.354"
            x="2.284"
            y="6.651"
            fill="#FFF"
          />
          <rect
            width="150.044"
            height="7.236"
            x="2.284"
            y="1.972"
            fill="#F5F5F5"
          />
          <ellipse cx="7.993" cy="5.482" fill="#FF5252" rx="1.752" ry="1.754" />
          <ellipse cx="12.812" cy="5.482" fill="#FF0" rx="1.752" ry="1.754" />
          <ellipse
            cx="17.629"
            cy="5.482"
            fill="#69F0AE"
            rx="1.752"
            ry="1.754"
          />
          <rect
            width="27.594"
            height="2.96"
            x="63.236"
            y="32.948"
            fill="#009CE3"
            opacity=".5"
          />
          <rect
            width="30.222"
            height="2.96"
            x="43.309"
            y="45.668"
            fill="#E0E0E0"
          />
          <rect
            width="30.222"
            height="2.96"
            x="80.539"
            y="45.668"
            fill="#E0E0E0"
            transform="rotate(-180 95.65 47.148)"
          />
          <rect
            width="67.452"
            height="2.96"
            x="43.198"
            y="52.027"
            fill="#E0E0E0"
          />
          <rect
            width="67.452"
            height="2.96"
            x="43.198"
            y="58.386"
            fill="#E0E0E0"
          />
          <rect
            width="28.032"
            height="5.482"
            x="62.91"
            y="71.984"
            fill="url(#noaccess-b)"
          />
          <rect
            width="27.594"
            height="4.486"
            x="63.127"
            y="72.481"
            fill="#009CE3"
          />
        </g>
        <rect
          width="15.877"
          height="15.872"
          opacity=".1"
          transform="translate(27.612 160.708)"
        />
        <g fill-rule="nonzero" transform="translate(146.043 122.275)">
          <rect
            width="55.808"
            height="45.549"
            x=".76"
            y="27.661"
            fill="url(#noaccess-c)"
          />
          <rect
            width="55.808"
            height="45.549"
            x=".76"
            y="27.661"
            fill="url(#noaccess-c)"
          />
          <path
            fill="url(#noaccess-d)"
            d="M13.6375955,20.4173779 C13.6375955,11.853554 20.634317,4.91120306 29.2652103,4.91120306 C37.8961036,4.91120306 44.8928251,11.853554 44.8928251,20.4173779 L44.8928251,30.3400199 L49.267417,30.3400199 L49.267417,20.4173779 C49.3556563,13.2688841 45.5626734,6.62561744 39.3377027,3.02585715 C33.1127319,-0.573903137 25.4176886,-0.573903137 19.1927179,3.02585715 C12.9677471,6.62561744 9.17476426,13.2688841 9.2630035,20.4173779 L9.2630035,30.3400199 L13.6375955,30.3400199 L13.6375955,20.4173779 Z"
          />
          <path
            fill="url(#noaccess-d)"
            d="M13.6375955,20.4173779 C13.6375955,11.853554 20.634317,4.91120306 29.2652103,4.91120306 C37.8961036,4.91120306 44.8928251,11.853554 44.8928251,20.4173779 L44.8928251,30.3400199 L49.267417,30.3400199 L49.267417,20.4173779 C49.3556563,13.2688841 45.5626734,6.62561744 39.3377027,3.02585715 C33.1127319,-0.573903137 25.4176886,-0.573903137 19.1927179,3.02585715 C12.9677471,6.62561744 9.17476426,13.2688841 9.2630035,20.4173779 L9.2630035,30.3400199 L13.6375955,30.3400199 L13.6375955,20.4173779 Z"
          />
          <path
            fill="url(#noaccess-d)"
            d="M15.4655973,20.553718 C15.4655973,12.9654859 21.7571565,6.81400834 29.5181881,6.81400834 C37.2792197,6.81400834 43.5707789,12.9654859 43.5707789,20.553718 L43.5707789,29.3459716 L47.504479,29.3459716 L47.504479,20.553718 C47.5838251,14.2195814 44.1731168,8.33311644 38.5755276,5.14344124 C32.9779385,1.95376603 26.0584376,1.95376603 20.4608485,5.14344124 C14.8632593,8.33311644 11.452551,14.2195814 11.5318971,20.553718 L11.5318971,29.3459716 L15.4655973,29.3459716 L15.4655973,20.553718 Z"
          />
          <path
            fill="url(#noaccess-d)"
            d="M15.4655973,20.553718 C15.4655973,12.9654859 21.7571565,6.81400834 29.5181881,6.81400834 C37.2792197,6.81400834 43.5707789,12.9654859 43.5707789,20.553718 L43.5707789,29.3459716 L47.504479,29.3459716 L47.504479,20.553718 C47.5838251,14.2195814 44.1731168,8.33311644 38.5755276,5.14344124 C32.9779385,1.95376603 26.0584376,1.95376603 20.4608485,5.14344124 C14.8632593,8.33311644 11.452551,14.2195814 11.5318971,20.553718 L11.5318971,29.3459716 L15.4655973,29.3459716 L15.4655973,20.553718 Z"
          />
          <path
            fill="#EFFEFF"
            d="M14.2616799,20.2179128 C14.2616799,11.996905 20.9783176,5.33246134 29.2637101,5.33246134 C37.5491025,5.33246134 44.2657402,11.996905 44.2657402,20.2179128 L44.2657402,29.7446018 L48.4663086,29.7446018 L48.4663086,20.2179128 C48.4663086,9.69502279 39.8690124,1.16453492 29.2637101,1.16453492 C18.6584077,1.16453492 10.0611115,9.69502279 10.0611115,20.2179128 L10.0611115,29.7446018 L14.2616799,29.7446018 L14.2616799,20.2179128 Z"
          />
          <rect
            width="52.207"
            height="42.275"
            x="3.16"
            y="29.149"
            fill="#FFF"
          />
          <rect
            width="52.207"
            height="25.603"
            x="3.16"
            y="37.485"
            fill="#009CE3"
          />
          <path
            fill="#000"
            d="M32.5641567,46.1185985 C32.5668277,44.647414 31.5804085,43.3550328 30.1524694,42.9588673 C28.7245302,42.5627018 27.2055966,43.1600013 26.4388422,44.4191995 C25.6720877,45.6783977 25.8457328,47.290391 26.8633853,48.3603475 L26.8633853,55.3475784 C26.8633853,56.6629397 27.9380473,57.7292506 29.2637101,57.7292506 C30.5893729,57.7292506 31.6640349,56.6629397 31.6640349,55.3475784 L31.6640349,48.3603475 C32.2407231,47.7540251 32.5626402,46.9522922 32.5641567,46.1185985 Z"
            opacity=".3"
          />
        </g>
      </g>
    </g>
  </svg>
  <div class="error-description">
    {{ 'no_view_permission' | translate }}
  </div>
  <button aui-button="primary" size="large" (click)="backToList()">
    {{ 'return_resource_list' | translate }}
  </button>
</div>
<div *ngIf="errorCode === 404">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="240"
    height="211"
    viewBox="0 0 240 211"
  >
    <g fill="none" fill-rule="evenodd" transform="translate(0 -15)">
      <rect width="240" height="240" />
      <g transform="translate(0 15)">
        <g opacity=".1" transform="translate(0 3)">
          <g transform="translate(0 29)">
            <path
              fill="#009CE3"
              fill-rule="nonzero"
              d="M2.80618994 94.1110938C6.59727612 110.31493 14.622761 124.321858 27.3063027 131.111309 53.6648339 145.220875 113.110201 137.944436 157.476391 129.582645 179.894706 125.371765 200.243633 113.738862 215.246779 96.5569558L2.80618994 94.1110938zM235.457898 17.8438739L211.11502 17.8438739C209.952959 17.8438739 209.010923 16.9018378 209.010923 15.7397774 209.010923 14.577717 209.952959 13.6356809 211.11502 13.6356809L215.323213 13.6356809C214.161152 13.6356809 213.219116 12.6936448 213.219116 11.5315844 213.219116 10.369524 214.161152 9.42748792 215.323213 9.42748792L212.318296 9.42748792C211.156236 9.42748792 210.2142 8.48545183 210.2142 7.32339141 210.2142 6.161331 211.156236 5.21929491 212.318296 5.21929491L225.023676 5.21929491C222.204383 3.90901167 218.909021 2.97652676 215.113567 2.48735435 180.469678-1.96324106 168.100605.980528625 163.737361 4.01601813 158.354281 7.75032537 152.348816 10.4975526 145.930612 11.8209386 124.555525 16.2300417 84.580967 21.5366889 48.3494516 10.121938 30.3417922 4.44404399 16.9572489 14.0353173 8.9361317 30.0557137L239.683562 30.0557137C239.382197 25.3998406 238.480285 21.1021116 236.824961 17.3372311 236.444762 17.6645642 235.959593 17.8443709 235.457898 17.8438739zM.740310031 60.2948671C-.194774171 69.7183086.122452519 79.2240945 1.68371396 88.5642281L215.408381 96.3800676C221.357802 89.5362455 226.35314 81.9183545 230.258258 73.7340056L.740310031 60.2948671zM85.2710495 80.46231L81.0628565 80.46231C82.2249169 80.46231 83.166953 81.4043461 83.166953 82.5664065 83.166953 83.7284669 82.2249169 84.670503 81.0628565 84.670503L56.7199777 84.670503C55.5579173 84.670503 54.6158812 83.7284669 54.6158812 82.5664065 54.6158812 81.4043461 55.5579173 80.46231 56.7199777 80.46231L60.9281707 80.46231C59.7661103 80.46231 58.8240742 79.5202739 58.8240742 78.3582135 58.8240742 77.1961531 59.7661103 76.254117 60.9281707 76.254117L57.9232545 76.254117C56.7611941 76.254117 55.819158 75.3120809 55.819158 74.1500205 55.819158 72.9879601 56.7611941 72.045924 57.9232545 72.045924L82.2661333 72.045924C83.4281937 72.045924 84.3702298 72.9879601 84.3702298 74.1500205 84.3702298 75.3120809 83.4281937 76.254117 82.2661333 76.254117L85.2710495 76.254117C86.4331099 76.254117 87.375146 77.1961531 87.375146 78.3582135 87.375146 79.5202739 86.4331099 80.46231 85.2710495 80.46231zM239.694481 30.1998449L6.35705752 35.8777389C3.52029431 43.171649 1.64877308 51.419882.775250918 59.9716639L235.606397 59.9716639C237.139651 54.9494154 238.273664 49.813865 238.997847 44.6129605 239.696665 39.5858405 239.976192 34.7268735 239.694481 30.1998449zM48.1463577 48.7971317L43.9381647 48.7971317C45.1002251 48.7971317 46.0422612 49.7391678 46.0422612 50.9012282 46.0422612 52.0632886 45.1002251 53.0053247 43.9381647 53.0053247L19.5952859 53.0053247C18.4332255 53.0053247 17.4911894 52.0632886 17.4911894 50.9012282 17.4911894 49.7391678 18.4332255 48.7971317 19.5952859 48.7971317L23.8034789 48.7971317C22.6414185 48.7971317 21.6993824 47.8550956 21.6993824 46.6930352 21.6993824 45.5309748 22.6414185 44.5889387 23.8034789 44.5889387L20.7985626 44.5889387C19.6365022 44.5889387 18.6944661 43.6469026 18.6944661 42.4848422 18.6944661 41.3227818 19.6365022 40.3807457 20.7985626 40.3807457L45.1414415 40.3807457C46.3035019 40.3807457 47.245538 41.3227818 47.245538 42.4848422 47.245538 43.6469026 46.3035019 44.5889387 45.1414415 44.5889387L48.1463577 44.5889387C49.3084181 44.5889387 50.2504542 45.5309748 50.2504542 46.6930352 50.2504542 47.8550956 49.3084181 48.7971317 48.1463577 48.7971317z"
            />
            <g
              fill="#009CE3"
              fill-rule="nonzero"
              transform="translate(146.533 96.226)"
            >
              <path
                d="M26.9547101 23.7219573C25.070086 23.3310561 20.311574 18.7800056 20.311574 18.7800056 20.311574 18.7800056 26.4873757 16.5022966 28.3741836 16.8931978 30.1458603 17.3869799 31.2314429 19.1696433 30.8570202 20.9703285 30.4825976 22.7710136 28.7763717 23.9731666 26.9547101 23.7197735L26.9547101 23.7219573zM15.8173025 32.4309732C13.89337 32.3632752 8.43385646 28.6835631 8.43385646 28.6835631 8.43385646 28.6835631 14.1379562 25.4013036 16.0618887 25.4624502 17.3649301 25.4217336 18.5822693 26.109823 19.2194021 27.2472044 19.8565348 28.3845859 19.8074848 29.782075 19.0921769 30.8719875 18.376869 31.9619 17.1142827 32.5629471 15.8173025 32.4309732zM24.3079379 4.43677176C24.5547079 6.34760149 28.7235924 11.4402357 28.7235924 11.4402357 28.7235924 11.4402357 31.4686358 5.45660888 31.2240496 3.54577916 30.8700804 1.73895137 29.1747749.516823643 27.3486923.752075204 25.5226097.987326765 24.1924079 2.5992262 24.3079379 4.43677176zM11.4103832 14.7858256C12.2162074 16.5328699 17.719397 20.1470678 17.719397 20.1470678 17.719397 20.1470678 18.5492431 13.6153059 17.7434189 11.8682615 17.2755094 10.6531574 16.1707627 9.79902967 14.8769966 9.65210582 13.5832305 9.50518197 12.3150913 10.0898379 11.5866294 11.1690786 10.8581675 12.2483193 10.7902405 13.64309 11.4103832 14.7880094L11.4103832 14.7858256zM.255505232 26.5652719C.753412864 28.4258741 5.56870377 32.915778 5.56870377 32.915778 5.56870377 32.915778 7.49045253 26.619867 6.99036109 24.7592648 6.39706618 23.0177484 4.55496265 22.0346521 2.77794151 22.511175 1.00092037 22.9876978-.102148468 24.7605664.255505232 26.5652719z"
              />
              <path
                d="M26.9547101 23.7219573C25.070086 23.3310561 20.311574 18.7800056 20.311574 18.7800056 20.311574 18.7800056 26.4873757 16.5022966 28.3741836 16.8931978 30.1458603 17.3869799 31.2314429 19.1696433 30.8570202 20.9703285 30.4825976 22.7710136 28.7763717 23.9731666 26.9547101 23.7197735L26.9547101 23.7219573zM15.8173025 32.4309732C13.89337 32.3632752 8.43385646 28.6835631 8.43385646 28.6835631 8.43385646 28.6835631 14.1379562 25.4013036 16.0618887 25.4624502 17.3649301 25.4217336 18.5822693 26.109823 19.2194021 27.2472044 19.8565348 28.3845859 19.8074848 29.782075 19.0921769 30.8719875 18.376869 31.9619 17.1142827 32.5629471 15.8173025 32.4309732zM11.4103832 14.7858256C12.2162074 16.5328699 17.719397 20.1470678 17.719397 20.1470678 17.719397 20.1470678 18.5492431 13.6153059 17.7434189 11.8682615 17.2755094 10.6531574 16.1707627 9.79902967 14.8769966 9.65210582 13.5832305 9.50518197 12.3150913 10.0898379 11.5866294 11.1690786 10.8581675 12.2483193 10.7902405 13.64309 11.4103832 14.7880094L11.4103832 14.7858256zM.255505232 26.5652719C.753412864 28.4258741 5.56870377 32.915778 5.56870377 32.915778 5.56870377 32.915778 7.49045253 26.619867 6.99036109 24.7592648 6.39706618 23.0177484 4.55496265 22.0346521 2.77794151 22.511175 1.00092037 22.9876978-.102148468 24.7605664.255505232 26.5652719z"
                opacity=".25"
              />
            </g>
            <g transform="translate(137.361 66.124)">
              <path
                stroke="#535461"
                stroke-width="2"
                d="M6.45314496,48.0149743 C6.45314496,48.0149743 7.23057968,31.6539042 16.2125713,22.5277815 C20.0006947,18.7227268 22.4527315,13.791834 23.2007486,8.4749937 C23.5375179,5.94791576 23.6420496,3.39529746 23.5130328,0.849145235"
              />
              <path
                fill="#009CE3"
                fill-rule="nonzero"
                d="M31.1039403 7.0227631C29.5752766 8.20638563 23.0369632 8.89210053 23.0369632 8.89210053 23.0369632 8.89210053 25.2972018 2.70756363 26.8149465 1.5239411 27.7879797.658759552 29.161368.406381342 30.3784214.869105587 31.5954749 1.33182983 32.454285 2.43289084 32.6067412 3.72598398 32.7591975 5.01907711 32.1800074 6.28967896 31.1039403 7.0227631zM24.891014 24.1700031C22.982368 24.4255083 16.9856384 21.7110382 16.9856384 21.7110382 16.9856384 21.7110382 22.0586184 17.5137643 23.9738157 17.258259 25.250806 17.0020337 26.5643148 17.4773318 27.3816462 18.4913954 28.1989776 19.505459 28.3844512 20.8899493 27.8628478 22.0833836 27.3412444 23.2768179 26.1991523 24.0810813 24.8997492 24.1700031L24.891014 24.1700031zM17.2717169 36.078294C15.4329528 36.6526348 9.06279242 34.9863913 9.06279242 34.9863913 9.06279242 34.9863913 13.3517862 29.9920283 15.1905504 29.4176875 16.9813858 28.9806924 18.803649 30.0100894 19.3537466 31.7694782 19.9038442 33.5288669 18.9925237 35.4129572 17.2717169 36.0739264L17.2717169 36.078294zM15.9985584 6.85242628C16.8720805 8.57326494 22.488828 11.995288 22.488828 11.995288 22.488828 11.995288 23.0937421 5.4438718 22.2289552 3.71866553 21.2977309 2.12740646 19.2903658 1.53352456 17.6432648 2.36198232 15.9961637 3.19044008 15.276201 5.15611149 15.9985584 6.85242628zM7.26333677 20.894295C8.60419328 22.2766438 14.9940079 23.8599028 14.9940079 23.8599028 14.9940079 23.8599028 13.6116591 17.4242282 12.2708026 16.0418794 10.9062524 14.8008506 8.81208117 14.834226 7.48777117 16.1181078 6.16346116 17.4019897 6.06519627 19.4941204 7.26333677 20.8964788L7.26333677 20.894295zM.646406399 35.7048632C1.7383091 37.2946736 7.76561201 39.9348943 7.76561201 39.9348943 7.76561201 39.9348943 7.49045253 33.3572724 6.40291744 31.7674621 5.26177367 30.33837 3.21170795 30.0309823 1.70161242 31.0625466.191516896 32.094111-.267667256 34.1155972.648590204 35.6983118L.646406399 35.7048632z"
              />
            </g>
            <path
              fill="#009CE3"
              fill-rule="nonzero"
              d="M0.1616016,11.5342607 C11.3040887,15.2805394 24.8978097,13.0021672 37.5393751,13.2657102 C39.2708247,13.3025496 41.1014571,13.4102338 42.4900173,14.0563394 C43.8785775,14.7024449 44.5615224,15.7566172 45.513678,16.649263 C49.0559234,19.9903089 56.3132758,21.0643177 62.6581457,20.4975584 C69.0030157,19.9307992 74.8207995,18.054826 80.7944422,16.6265926 C91.1434664,14.1555223 102.974566,13.0333389 113.1819,15.7254454 C114.119887,15.9719857 115.106048,16.2553653 116.109212,16.1590163 C118.347911,15.9379801 119.013853,14.1470209 120.578109,13.1240204 C123.411905,11.2763852 129.541407,11.7779671 130.779776,9.3437361 C131.508061,7.92683794 129.833288,6.45326385 128.011157,5.47843791 C121.03435,1.74916195 111.053719,1.13422815 101.923228,1.7094888 C92.7927358,2.28474946 83.8152691,3.8716754 74.6366028,3.87734299 C63.2022346,3.87734299 52.1532627,1.44311195 40.8294126,0.445615642 C32.9854644,-0.245830661 24.4245657,-0.160816771 17.0708643,1.8625138 C9.12206557,4.07854253 7.36511185,9.02068332 0.1616016,11.5342607 Z"
              transform="translate(48.985 154.67)"
            />
          </g>
          <path
            fill="#009CE3"
            fill-rule="nonzero"
            d="M55.0030396,28.0082501 L57.8650982,28.0082501 C56.7843441,27.9720891 55.9269185,27.0854952 55.9269185,26.0041362 C55.9269185,24.9227772 56.7843441,24.0361832 57.8650982,24.0000223 L81.0486703,24.0000223 C82.1294245,24.0361832 82.98685,24.9227772 82.98685,26.0041362 C82.98685,27.0854952 82.1294245,27.9720891 81.0486703,28.0082501 L78.1866117,28.0082501 C79.2928338,28.0082501 80.1896041,28.9050204 80.1896041,30.0112426 C80.1896041,31.1174647 79.2928338,32.014235 78.1866117,32.014235 L82.1925965,32.014235 C83.2733507,32.050396 84.1307762,32.93699 84.1307762,34.0183489 C84.1307762,35.0997079 83.2733507,35.9863019 82.1925965,36.0224629 L59.0090245,36.0224629 C57.9282703,35.9863019 57.0708448,35.0997079 57.0708448,34.0183489 C57.0708448,32.93699 57.9282703,32.050396 59.0090245,32.014235 L55.0030396,32.014235 C53.8968174,32.014235 53.0000472,31.1174647 53.0000472,30.0112426 C53.0000472,28.9050204 53.8968174,28.0082501 55.0030396,28.0082501 Z"
          />
          <g fill="#009CE3" fill-rule="nonzero" transform="translate(96 28)">
            <circle cx="26.335" cy="8.168" r="3.701" />
            <circle cx="2.019" cy="2.019" r="2.019" />
          </g>
          <g
            fill="#009CE3"
            fill-rule="nonzero"
            transform="rotate(-11 146.078 -821.525)"
          >
            <circle cx="3.701" cy="3.701" r="3.701" />
            <circle cx="63.941" cy="24.539" r="2.019" />
          </g>
          <g
            fill="#009CE3"
            fill-rule="nonzero"
            transform="rotate(80 42.132 201.25)"
          >
            <circle cx="3.884" cy="3.869" r="3.701" />
            <circle cx="29.941" cy="25.539" r="2.019" />
          </g>
          <g
            fill="#009CE3"
            fill-rule="nonzero"
            transform="translate(10.607 164.708)"
          >
            <circle cx="9.429" cy="2.168" r="2.019" />
            <circle cx="17.168" cy="11.259" r="2.019" />
            <circle cx="2.028" cy="16.739" r="2.019" />
          </g>
          <ellipse
            cx="40.471"
            cy="204.961"
            fill="#009CE3"
            fill-rule="nonzero"
            rx="10"
            ry="2.019"
          />
          <ellipse
            cx="161.471"
            cy="204.961"
            fill="#009CE3"
            fill-rule="nonzero"
            rx="10"
            ry="2.019"
          />
        </g>
        <path
          fill="#000"
          fill-rule="nonzero"
          d="M63.1801036,121.15966 C63.1801036,121.15966 60.2303142,127.444712 62.0433832,127.019007 C63.8564522,126.593303 63.1801036,121.15966 63.1801036,121.15966 Z"
          opacity=".1"
        />
        <g fill-rule="nonzero" transform="translate(37 88)">
          <polygon
            fill="#A8A7A7"
            points="21.408 26.715 74.73 17.412 74.73 71.535 23.117 68.691 20.408 26.715"
          />
          <polygon
            fill="#000"
            points="75.322 17 75.322 71.123 23.709 68.279 21 26.303"
            opacity=".05"
          />
          <polygon
            fill="#B0ADAD"
            points="74.781 17.412 139.925 22.542 136.32 69.642 74.781 71.535"
          />
          <polygon
            fill="#000"
            points="75 17 140.144 22.13 136.539 69.23 75 71.123"
            opacity=".1"
          />
          <polygon
            fill="#C9C7C7"
            points="94.81 .974 74.781 17.493 139.925 22.623 150.571 5.718"
          />
          <polygon
            fill="#C9C7C7"
            points=".935 8.757 49.839 2.491 74.926 17.495 20.604 26.798"
          />
          <polygon
            fill="#E0E0E0"
            points="86.639 31.268 86.639 105.265 61.192 102.518 50.123 101.331 46.751 100.959 35.689 99.764 20.408 98.116 20.408 26.516 74.723 30.407"
          />
          <polygon
            fill="#CCC"
            points="139.903 22.47 139.903 94.634 119.507 98.754 109.588 100.759 86.667 105.391 86.667 31.394"
          />
          <polygon
            fill="#CCC"
            points="139.236 24 139.236 96.164 118.84 100.284 108.921 102.289 86 106.922 86 32.924"
            opacity=".05"
          />
          <polygon
            fill="#C8C6C6"
            points=".935 42.092 20.604 26.516 86.834 31.268 77.085 48.552"
          />
          <polygon
            fill="#E0E0E0"
            points="1 41.576 20.669 26 86.9 30.752 77.15 48.035"
            opacity=".1"
          />
          <polygon
            fill="#BABABA"
            points="139.903 22.47 86.667 31.394 103.994 47.727 161.018 37.66"
          />
          <polygon
            fill="#FFF"
            points="140.236 23 87 31.924 104.327 48.257 161.351 38.19"
            opacity=".1"
          />
          <polygon
            fill="#9B9898"
            points="119.347 99.046 109.428 101.05 109.428 85.63 118.719 83.165"
            opacity=".252"
          />
          <polygon
            fill="#FFF"
            points="61.066 92.523 61.066 102.724 49.997 101.536 49.997 92.523"
            opacity=".1"
          />
          <polygon
            fill="#FFF"
            points="46.897 95.81 46.897 101.237 35.835 100.042 35.835 95.81"
            opacity=".1"
          />
        </g>
        <path
          fill="#009CE3"
          fill-rule="nonzero"
          d="M110.578507,52.0124477 C110.578507,52.0124477 100.968391,51.4333118 102.091257,58.1755668 C102.091257,58.1755668 101.866178,59.3667154 102.946051,59.9079166 C102.946051,59.9079166 102.963754,59.402121 103.932353,59.5766205 C104.277289,59.6346725 104.627889,59.6516507 104.976821,59.6272001 C105.449691,59.5956622 105.89919,59.4099995 106.256483,59.0986437 C106.256483,59.0986437 108.959961,57.9833645 110.012015,53.5627111 C110.012015,53.5627111 110.790941,52.5966416 110.770709,52.3488018 L109.147105,53.0442707 C109.147105,53.0442707 109.700951,54.2151874 109.263438,55.1888439 C109.263438,55.1888439 109.212858,53.0872633 108.899265,53.1353139 C108.836041,53.1353139 108.057116,53.5424793 108.057116,53.5424793 C108.057116,53.5424793 109.01054,55.5808355 108.289782,57.0653455 C108.289782,57.0653455 108.562911,54.5515415 107.758696,53.68916 L106.615598,54.3568102 C106.615598,54.3568102 107.730877,56.4634488 106.974713,58.1831537 C106.974713,58.1831537 107.169444,55.5454298 106.375345,54.5186648 L105.338464,55.3254087 C105.338464,55.3254087 106.38799,57.4042285 105.748159,58.8305721 C105.748159,58.8305721 105.664703,55.7603929 105.113385,55.527727 C105.113385,55.527727 104.208011,56.326884 104.071446,56.6556511 C104.071446,56.6556511 104.787147,58.1730378 104.342047,58.9595499 C104.342047,58.9595499 104.068917,56.9136068 103.836252,56.9034909 C103.836252,56.9034909 102.933406,58.2590231 102.839834,59.179571 C102.88356,58.3213652 103.151235,57.4895662 103.61623,56.7669261 C103.095887,56.8653734 102.615818,57.1142003 102.235409,57.4826268 C102.235409,57.4826268 102.374502,56.5241442 103.838781,56.440688 C103.838781,56.440688 104.597474,55.411394 104.784618,55.3481695 C104.784618,55.3481695 103.327927,55.2267786 102.445314,55.6187702 C102.445314,55.6187702 103.22171,54.7159251 105.05269,55.1129746 L106.064281,54.2784119 C106.064281,54.2784119 104.147316,54.0255141 103.332985,54.3062306 C103.332985,54.3062306 104.268707,53.5070736 106.33994,54.0887385 L107.45269,53.4236174 C107.45269,53.4236174 105.81897,53.0695605 104.845314,53.1985383 C104.845314,53.1985383 105.872079,52.6446922 107.778928,53.2440599 L108.575556,52.8874741 C108.575556,52.8874741 107.376821,52.6522791 107.027822,52.6143444 C106.678823,52.5764098 106.658591,52.4803086 106.658591,52.4803086 C107.416952,52.35409 108.195483,52.4416637 108.906852,52.7332064 C108.906852,52.7332064 110.613912,52.1186648 110.578507,52.0124477 Z"
        />
        <path
          fill="#009CE3"
          fill-rule="nonzero"
          d="M164.578507 69.0124477C164.578507 69.0124477 154.968391 68.4333118 156.091257 75.1755668 156.091257 75.1755668 155.866178 76.3667154 156.946051 76.9079166 156.946051 76.9079166 156.963754 76.402121 157.934882 76.5766205 158.279818 76.6346725 158.630418 76.6516507 158.97935 76.6272001 159.446665 76.5933185 159.890374 76.4087354 160.243838 76.1011727 160.243838 76.1011727 162.949845 74.9833645 164.0019 70.5627111 164.0019 70.5627111 164.778296 69.5991706 164.747948 69.3513307L163.124344 70.0442707C163.124344 70.0442707 163.67819 71.2151874 163.243206 72.1888439 163.243206 72.1888439 163.190098 70.0872633 162.879033 70.1353139 162.815809 70.1353139 162.034355 70.5424793 162.034355 70.5424793 162.034355 70.5424793 162.990308 72.5833645 162.26955 74.0653455 162.26955 74.0653455 162.542679 71.5515415 161.735935 70.68916L160.605482 71.3492233C160.605482 71.3492233 161.720762 73.4558618 160.964597 75.1755668 160.964597 75.1755668 161.159328 72.5378429 160.365229 71.5110778L159.330877 72.3203508C159.330877 72.3203508 160.377874 74.3966416 159.740572 75.8229851 159.740572 75.8229851 159.657116 72.752806 159.105798 72.52014 159.105798 72.52014 158.200424 73.319297 158.061331 73.6480641 158.061331 73.6480641 158.77956 75.1654509 158.33446 75.951963 158.33446 75.951963 158.061331 73.9060199 157.828665 73.895904 157.828665 73.895904 156.925819 75.2514361 156.832247 76.1719841 156.87743 75.3136734 157.145927 74.4820322 157.611173 73.7593392 157.090172 73.8580266 156.609357 74.1067849 156.227822 74.4750399 156.227822 74.4750399 156.369444 73.5165573 157.833723 73.433101 157.833723 73.433101 158.579771 72.403807 158.77956 72.3405826 158.77956 72.3405826 157.322869 72.2191916 156.440256 72.6111832 156.440256 72.6111832 157.216652 71.7083381 159.045103 72.1180325L160.056694 71.2834698C160.056694 71.2834698 158.1372 71.0305721 157.325398 71.3112886 157.325398 71.3112886 158.26112 70.5121316 160.332353 71.0937965L161.445103 70.4286753C161.445103 70.4286753 159.808854 70.0771474 158.835198 70.2035963 158.835198 70.2035963 159.864492 69.6497501 161.771341 70.2491179L162.567969 69.892532C162.567969 69.892532 161.369234 69.6573371 161.017706 69.6194024 160.666178 69.5814677 160.648475 69.4853666 160.648475 69.4853666 161.407667 69.3590723 162.18703 69.4466411 162.899265 69.7382644 162.899265 69.7382644 164.608854 69.1186648 164.578507 69.0124477zM58.2868059 53.4294101C58.2868059 53.4294101 50.5683654 47.6557536 47.8092505 53.9099159 47.8092505 53.9099159 46.9671009 54.7824132 47.5715266 55.8268811 47.5715266 55.8268811 47.8598301 55.4197156 48.5831178 56.0949527 48.8393083 56.3332932 49.1228457 56.5404283 49.4277964 56.7120233 49.8408453 56.9420172 50.3177078 57.0308185 50.7858575 56.9649211 50.7858575 56.9649211 53.6587764 57.5187673 56.9666794 54.4055955 56.9666794 54.4055955 58.1477121 54.0262488 58.2589871 53.8036988L56.5165214 53.4976925C56.5165214 53.4976925 56.3344349 54.7798842 55.4366478 55.3539622 55.4366478 55.3539622 56.5468691 53.5685038 56.2585656 53.439526 56.2003991 53.4117072 55.3304307 53.3130771 55.3304307 53.3130771 55.3304307 53.3130771 55.0067216 55.5436356 53.590494 56.3857852 53.590494 56.3857852 55.2014529 54.4359432 55.0016636 53.2726134L53.6790082 53.201802C53.6790082 53.201802 53.4539292 55.5765123 51.875847 56.5982193 51.875847 56.5982193 53.4868059 54.5016967 53.3932337 53.20686L52.0832231 53.3130771C52.0832231 53.3130771 51.8176805 55.6220339 50.500083 56.4616545 50.500083 56.4616545 52.1160999 53.8517494 51.7848038 53.3560697 51.7848038 53.3560697 50.5885972 53.5255112 50.2927068 53.7227715 50.2927068 53.7227715 50.0625698 55.376723 49.2532969 55.7965333 49.2532969 55.7965333 50.1510841 53.9377346 49.9689976 53.8087567 49.9689976 53.8087567 48.4693138 54.4435302 47.8800619 55.1668179 48.3897903 54.4742896 49.0714896 53.926838 49.8577226 53.5786197 49.36853 53.3752986 48.8306616 53.319051 48.3099882 53.4167652 48.3099882 53.4167652 48.9523485 52.6934775 50.2218954 53.4294101 50.2218954 53.4294101 51.410515 52.981781 51.6128333 53.0374185 51.6128333 53.0374185 50.4621483 52.1345734 49.5087237 51.9777768 49.5087237 51.9777768 50.6568796 51.6490096 51.9593032 52.9893679L53.2718427 52.8553321C53.2718427 52.8553321 51.8126225 51.5908431 50.9755308 51.378409 50.9755308 51.378409 52.1970272 51.2241414 53.6056678 52.8477451L54.9005045 52.9059116C54.9005045 52.9059116 53.7295877 51.7122341 52.8469745 51.2823078 52.8469745 51.2823078 54.0077753 51.383467 55.2722642 52.9337304L56.1346457 53.0728242C56.1346457 53.0728242 55.2621483 52.2180297 54.9890187 51.9954796 54.7158891 51.7729295 54.7538238 51.6793574 54.7538238 51.6793574 55.4573822 51.9909107 56.0606117 52.491705 56.4962895 53.1259327 56.4962895 53.1259327 58.2539292 53.5330981 58.2868059 53.4294101zM130.942887 21.1165437C130.942887 21.1165437 123.224447 15.3403583 120.465332 21.5970495 120.465332 21.5970495 119.623182 22.4695469 120.227608 23.5140148 120.227608 23.5140148 120.515911 23.1068493 121.239199 23.7820864 121.496732 24.0191958 121.781058 24.2254382 122.086407 24.396628 122.499392 24.6267985 122.976314 24.7156108 123.444468 24.6495258 123.444468 24.6495258 126.317387 25.203372 129.62529 22.0876712 129.62529 22.0876712 130.806322 21.7108535 130.915068 21.4857745L129.172603 21.1848261C129.172603 21.1848261 128.993045 22.4670179 128.092729 23.0410959 128.092729 23.0410959 129.205479 21.2556375 128.917176 21.1266596 128.859009 21.0988409 127.989041 21.0002107 127.989041 21.0002107 127.989041 21.0002107 127.655216 23.2358272 126.238988 24.0729189 126.238988 24.0729189 127.847418 22.1230769 127.650158 20.9597471L126.327503 20.8889357C126.327503 20.8889357 126.099895 23.2636459 124.524341 24.282824 124.524341 24.282824 126.1353 22.1863014 126.041728 20.8914647L124.734247 20.9976818C124.734247 20.9976818 124.466175 23.3091675 123.148577 24.1487882 123.148577 24.1487882 124.767123 21.538883 124.435827 21.0432034 124.435827 21.0432034 123.239621 21.2126449 122.94373 21.4099052 122.94373 21.4099052 122.713593 23.0638567 121.90432 23.483667 121.90432 23.483667 122.802107 21.6248683 122.620021 21.4933614 122.620021 21.4933614 121.120337 22.1306639 120.531085 22.8539515 121.040043 22.1606851 121.721959 21.6130601 122.508746 21.2657534 122.019051 21.0609202 121.479927 21.0046332 120.958483 21.1038988 120.958483 21.1038988 121.603372 20.3806112 122.872919 21.1165437 122.872919 21.1165437 124.061538 20.6663857 124.263857 20.7245522 124.263857 20.7245522 123.113172 19.8217071 122.159747 19.6623815 122.159747 19.6623815 123.305374 19.3361433 124.607798 20.6739726L125.920337 20.5399368C125.920337 20.5399368 124.463646 19.2754478 123.624025 19.0604847 123.624025 19.0604847 124.845522 18.908746 126.256691 20.5323498L127.551528 20.5879874C127.551528 20.5879874 126.380611 19.3943098 125.495469 18.9669125 125.495469 18.9669125 126.658799 19.0680717 127.923288 20.6183351L128.78314 20.7574289C128.78314 20.7574289 127.908114 19.9127503 127.634984 19.6952582 127.361855 19.4777661 127.399789 19.3816649 127.399789 19.3816649 128.10356 19.692876 128.706875 20.1937412 129.142255 20.8282403 129.142255 20.8282403 130.899895 21.2126449 130.942887 21.1165437zM39.1867229 27.379101C39.1867229 27.379101 36.1013699 18.2469619 30.2821918 21.8355815 30.2821918 21.8355815 29.0935722 22.0884793 29 23.2796278 29 23.2796278 29.4678609 23.1076573 29.6752371 24.0686689 29.7522824 24.4105159 29.8685423 24.7423233 30.0217071 25.0574993 30.2307238 25.4816633 30.5714099 25.8267854 30.9928346 26.0412717 30.9928346 26.0412717 33.0463646 28.1276784 37.5378293 27.4372675 37.5378293 27.4372675 38.7239199 27.7963823 38.941412 27.6724624L37.6769231 26.4307343C37.6769231 26.4307343 36.8018967 27.3841589 35.7346681 27.3462242 35.7346681 27.3462242 37.6642782 26.5066036 37.5049526 26.236003 37.4720759 26.1828944 36.8120126 25.6088164 36.8120126 25.6088164 36.8120126 25.6088164 35.2794521 27.260239 33.6356164 27.151493 33.6356164 27.151493 36.0659642 26.458553 36.5616438 25.3812084L35.514647 24.5744645C35.514647 24.5744645 33.9820864 26.4003865 32.1030558 26.344749 32.1030558 26.344749 34.6320337 25.5329471 35.2718651 24.4100809L34.1338251 23.7550757C34.1338251 23.7550757 32.6164384 25.5076573 31.0434141 25.4520198 31.0434141 25.4520198 33.8556375 24.2204076 33.8632244 23.6235688 33.8632244 23.6235688 32.7833509 23.0848965 32.426765 23.0798386 32.426765 23.0798386 31.2988409 24.3114508 30.4035827 24.2001758 30.4035827 24.2001758 32.1940991 23.1759397 32.1182297 22.9660346 32.1182297 22.9660346 30.5249737 22.6397964 29.6271865 22.9028101 30.4392057 22.6200854 31.3110578 22.5546965 32.1561644 22.7131368 31.8675779 22.2677795 31.455392 21.916235 30.9700738 21.7015456 30.9700738 21.7015456 31.9108535 21.4714087 32.540569 22.7965931 32.540569 22.7965931 33.7747102 23.1025994 33.9062171 23.261925 33.9062171 23.261925 33.4712329 21.8684582 32.775764 21.1957501 32.775764 21.1957501 33.9062171 21.5776257 34.2147524 23.4263085L35.3730242 24.058553C35.3730242 24.058553 34.8950474 22.1845804 34.3184405 21.5295751 34.3184405 21.5295751 35.4134879 22.0960662 35.6512118 24.2330525L36.6880927 25.0145066C36.6880927 25.0145066 36.3997893 23.3656131 35.9142255 22.5108186 35.9142255 22.5108186 36.8145416 23.2543381 36.9763962 25.2497016L37.6061117 25.8515983C37.6061117 25.8515983 37.3734457 24.6528628 37.2773446 24.3139798 37.1812434 23.9750967 37.2596417 23.9523359 37.2596417 23.9523359 37.6616748 24.608388 37.8743671 25.3628768 37.8741834 26.1323149 37.8741834 26.1323149 39.0982086 27.4448544 39.1867229 27.379101zM184.839719 43.0609053C184.839719 43.0609053 175.254893 41.9936766 176.046463 48.7940981 176.046463 48.7940981 175.760688 49.9726018 176.805156 50.5643826 176.805156 50.5643826 176.848149 50.0585871 177.816747 50.2861951 178.159053 50.3598482 178.508578 50.394631 178.858686 50.3898832 179.331602 50.3813425 179.788842 50.2188666 180.16111 49.9270802 180.16111 49.9270802 182.920224 48.9483658 184.207474 44.585879 184.207474 44.585879 185.031921 43.662802 185.014218 43.4124332L183.357738 44.0244459C183.357738 44.0244459 183.863533 45.2206524 183.357738 46.1715481 183.357738 46.1715481 183.410846 44.0699675 183.10484 44.1028442 183.041615 44.1028442 182.242458 44.467017 182.242458 44.467017 182.242458 44.467017 183.092195 46.5534237 182.298096 48.007586 182.298096 48.007586 182.697674 45.5089559 181.936452 44.6086398L180.760477 45.2155944C180.760477 45.2155944 181.772069 47.3778705 180.924861 49.0571118 180.924861 49.0571118 181.253628 46.4320328 180.512638 45.3673331L179.437822 46.1260265C179.437822 46.1260265 180.378602 48.2528969 179.667959 49.6463637 179.667959 49.6463637 179.741299 46.5761845 179.202627 46.3156998 179.202627 46.3156998 178.256789 47.0743932 178.102522 47.3879864 178.102522 47.3879864 178.742353 48.9306629 178.259318 49.7020012 178.259318 49.7020012 178.089877 47.6459422 177.867327 47.6257104 177.867327 47.6257104 176.896199 48.9331919 176.754576 49.8562688 176.842301 49.0004695 177.152712 48.182588 177.654893 47.4840876 177.130106 47.5566084 176.637901 47.7807376 176.238665 48.128977 176.238665 48.128977 176.425809 47.1806103 177.892616 47.1704943 177.892616 47.1704943 178.689245 46.181664 178.904208 46.1285555 178.904208 46.1285555 177.455103 45.9338242 176.552258 46.2802941 176.552258 46.2802941 177.374176 45.4153837 179.179866 45.9186503L180.244566 45.1371961C180.244566 45.1371961 178.320014 44.7477335 177.505683 45.0006313 177.505683 45.0006313 178.481868 44.241938 180.520224 44.9374069L181.665851 44.3279232C181.665851 44.3279232 180.049835 43.892939 179.07112 43.9713373 179.07112 43.9713373 180.125704 43.4655418 181.999677 44.1660686L182.814007 43.8499464C182.814007 43.8499464 181.627917 43.554056 181.278918 43.4984185 180.929919 43.442781 180.917274 43.3466798 180.917274 43.3466798 181.681819 43.2589587 182.455712 43.3850227 183.15289 43.7108526 183.15289 43.7108526 184.857422 43.1671224 184.839719 43.0609053zM72.9919916 6.65867421C72.9919916 6.65867421 70.3315068-2.60497174 64.3479452.720634164 64.3479452.720634164 63.1492097.905249548 63 2.10398506 63 2.10398506 63.4754478 1.95477536 63.6398314 2.92337389 63.700787 3.27134865 63.8026525 3.61090048 63.9433087 3.93496504 64.1308921 4.37075332 64.4559833 4.73315014 64.8689146 4.96678801 64.8689146 4.96678801 66.8263435 7.14170898 71.343098 6.65614523 71.343098 6.65614523 72.5114858 7.06583964 72.7340358 6.95456462L71.5378293 5.65466999C71.5378293 5.65466999 70.6198103 6.57015998 69.5576396 6.48417473 69.5576396 6.48417473 71.5201264 5.72548137 71.3683878 5.45488074 71.33804 5.39924323 70.7057956 4.79481751 70.7057956 4.79481751 70.7057956 4.79481751 69.1024236 6.37795766 67.4636459 6.19334228 67.4636459 6.19334228 69.9243414 5.61167737 70.4655427 4.56468053L69.4539515 3.70988601C69.4539515 3.70988601 67.8404636 5.46499665 65.966491 5.32843185 65.966491 5.32843185 68.5157007 4.62790497 69.2187566 3.53791551L68.1110643 2.83233069C68.1110643 2.83233069 66.5051633 4.51410097 64.947313 4.38765208 64.947313 4.38765208 67.8126449 3.28248875 67.8480506 2.68817895 67.8480506 2.68817895 66.7909378 2.10145608 66.4343519 2.08122426 66.4343519 2.08122426 65.2533193 3.25972795 64.3555321 3.10798927 64.3555321 3.10798927 66.1915701 2.16468053 66.1258166 1.95224639 66.1258166 1.95224639 64.5477345 1.55519686 63.6398314 1.77521794 64.4621214 1.5313811 65.3337706 1.50610328 66.1688093 1.70187758 65.9013392 1.24427389 65.5057103.875020199 65.0307692.639706872 65.0307692.639706872 65.9816649.450033531 66.548156 1.80303669 66.548156 1.80303669 67.7645943 2.16215155 67.8910432 2.32906409 67.8910432 2.32906409 67.5192835.91536546 66.8541623.214838589 66.8541623.214838589 67.9669125.644764827 68.1919916 2.50609254L69.3199157 3.19144554C69.3199157 3.19144554 68.9253952 1.29471214 68.3791359.627061982 68.3791359.627061982 69.4463646 1.24160361 69.5905163 3.38617684L70.6021075 4.2131526C70.6021075 4.2131526 70.3871444 2.55414312 69.9420443 1.68417473 69.9420443 1.68417473 70.8094837 2.46815787 70.880295 4.46605039L71.4821918 5.09829486C71.4821918 5.09829486 71.3051633 3.88944344 71.229294 3.54550245 71.1534247 3.20156146 71.229294 3.15351088 71.229294 3.15351088 71.6035284 3.82619894 71.7830472 4.58981035 71.7477345 5.35877958 71.7477345 5.35877958 72.9009484 6.71936967 72.9919916 6.65867421z"
          opacity=".1"
        />
        <path
          fill="#009CE3"
          fill-rule="nonzero"
          d="M141.834108 66.0256536C141.834108 66.0256536 136.920304 57.7331352 131.971094 62.4522079 131.971094 62.4522079 130.858344 62.9327137 131.01514 64.1314492 131.01514 64.1314492 131.43748 63.8633776 131.842116 64.7611647 131.986811 65.080304 132.169366 65.3808819 132.385846 65.6564229 132.676259 66.0293648 133.081623 66.2960513 133.53906 66.4151162 133.53906 66.4151162 135.979524 68.0286041 140.230736 66.4151162 140.230736 66.4151162 141.464877 66.5188043 141.652021 66.3544208L140.167511 65.3984671C140.167511 65.3984671 139.509977 66.5137464 138.457922 66.6983618 138.457922 66.6983618 140.17004 65.4768654 139.955077 65.2467285 139.909555 65.1986779 139.145804 64.7738096 139.145804 64.7738096 139.145804 64.7738096 137.990061 66.7084777 136.363929 66.9436726 136.363929 66.9436726 138.599545 65.760111 138.86003 64.611955L137.666352 64.0505219C137.666352 64.0505219 136.546015 66.1571605 134.697332 66.4935145 134.697332 66.4935145 136.991115 65.1759171 137.395751 63.9443049L136.146436 63.5396684C136.146436 63.5396684 135.013454 65.5628507 133.475836 65.8410383 133.475836 65.8410383 135.969408 64.0505219 135.853075 63.466328 135.853075 63.466328 134.684687 63.1628507 134.335688 63.2336621 134.335688 63.2336621 133.488481 64.6726505 132.580578 64.7510488 132.580578 64.7510488 134.120725 63.3803428 134.004392 63.1881405 134.004392 63.1881405 132.37573 63.2007854 131.553813 63.6433565 132.290091 63.1992478 133.129601 62.9551537 133.989218 62.9352427 133.61541 62.5593027 133.13984 62.30086 132.621041 62.1917232 132.621041 62.1917232 133.493539 61.7693839 134.391326 62.9352427 134.391326 62.9352427 135.655815 62.9782353 135.825256 63.1072132 135.825256 63.1072132 135.109555 61.8427242 134.290167 61.3217548 134.290167 61.3217548 135.473728 61.4583196 136.159081 63.2033143L137.42357 63.582661C137.42357 63.582661 136.566247 61.8477822 135.868249 61.3369287 135.868249 61.3369287 137.056868 61.6631668 137.734635 63.704052L138.910609 64.2528402C138.910609 64.2528402 138.285952 62.7025767 137.64612 61.9767601 137.64612 61.9767601 138.680472 62.5154324 139.25455 64.4323976L139.995541 64.8926716C139.995541 64.8926716 139.520093 63.7672764 139.35318 63.4562121 139.186268 63.1451478 139.257079 63.0768654 139.257079 63.0768654 139.787198 63.6340518 140.152275 64.3274342 140.311663 65.0798159 140.311663 65.0798159 141.760767 66.1091099 141.834108 66.0256536zM110.145838 84.4085096C110.145838 84.4085096 110.398736 74.7731039 103.704531 76.131165 103.704531 76.131165 102.505796 75.9465496 102 77.044126 102 77.044126 102.505796 77.044126 102.364173 78.0177825 102.317844 78.3649619 102.31275 78.7164032 102.348999 79.0647793 102.394717 79.5373125 102.594676 79.9816666 102.918019 80.3292683 102.918019 80.3292683 104.124341 82.9948109 108.577871 83.900185 108.577871 83.900185 109.566702 84.6462335 109.814542 84.6057698L109.055848 83.0074558C109.055848 83.0074558 107.905163 83.5992367 106.916333 83.1971292 106.916333 83.1971292 109.015385 83.0732093 108.957218 82.764674 108.957218 82.7014495 108.522234 81.9326402 108.522234 81.9326402 108.522234 81.9326402 106.514226 82.9568763 105.009484 82.2841682 105.009484 82.2841682 107.538462 82.4738415 108.365437 81.6418078L107.659852 80.5214706C107.659852 80.5214706 105.591149 81.7050322 103.846154 81.0070343 103.846154 81.0070343 106.488936 81.1132514 107.490411 80.2862756L106.648261 79.2746845C106.648261 79.2746845 104.607376 80.3924927 103.160801 79.8007119 103.160801 79.8007119 106.225922 79.6160965 106.448472 79.0571924 106.448472 79.0571924 105.618967 78.1796371 105.285142 78.0456012 105.285142 78.0456012 103.803161 78.8042946 102.993888 78.3946002 102.993888 78.3946002 105.017071 78.0557172 105.029715 77.8306381 105.029715 77.8306381 103.646365 76.9733146 102.713172 76.9100902 103.573681 76.9254748 104.415128 77.1661375 105.153635 77.6080881 105.038415 77.0911655 104.77472 76.619152 104.394942 76.250027 104.394942 76.250027 105.358483 76.358773 105.489989 77.8179932 105.489989 77.8179932 106.544573 78.531165 106.612856 78.7284253 106.612856 78.7284253 106.686196 77.269205 106.263857 76.3992367 106.263857 76.3992367 107.194521 77.1452851 106.845522 78.986381L107.712961 79.9827983C107.712961 79.9827983 107.910221 78.0557172 107.594099 77.2540312 107.594099 77.2540312 108.423604 78.1619342 107.91275 80.25087L108.613277 81.3408594C108.613277 81.3408594 108.911697 79.6944948 108.752371 78.7258963 108.752371 78.7258963 109.339094 79.7374874 108.80295 81.6620396L109.187355 82.4460227C109.187355 82.4460227 109.382086 81.2397003 109.407376 80.8881724 109.432666 80.5366445 109.528767 80.5138837 109.528767 80.5138837 109.681004 81.2683014 109.62059 82.0501842 109.354268 82.7722609 109.354268 82.7722609 110.034563 84.4413863 110.145838 84.4085096z"
        />
        <ellipse
          cx="139.549"
          cy="208.966"
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          rx="6.811"
          ry="1.151"
        />
        <ellipse
          cx="13.692"
          cy="205.074"
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          rx="6.811"
          ry="1.151"
        />
        <ellipse
          cx="191.206"
          cy="207.816"
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          rx="6.811"
          ry="1.151"
        />
      </g>
    </g>
  </svg>
  <div class="error-description">
    {{ 'resource_not_exist' | translate }}
  </div>
  <button aui-button="primary" size="large" (click)="backToList()">
    {{ 'return_resource_list' | translate }}
  </button>
</div>
<div *ngIf="errorCode !== 403 && errorCode !== 404">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="240"
    height="199"
    viewBox="0 0 240 199"
  >
    <g fill="none" fill-rule="evenodd" transform="translate(0 -23)">
      <rect width="240" height="240" opacity="0" />
      <g transform="translate(0 18)">
        <g opacity=".1" transform="translate(0 30)">
          <path
            fill="#009CE3"
            fill-rule="nonzero"
            d="M2.80618744 94.11101C6.59727025 110.314832 14.622748 124.321747 27.3062784 131.111192 53.6647862 145.220746 113.1101 137.944313 157.476251 129.58253 179.894545 125.371654 200.243454 113.738761 215.246588 96.5568699L2.80618744 94.11101zM235.457689 17.8438581L211.114832 17.8438581C209.952772 17.8438581 209.010737 16.9018228 209.010737 15.7397634 209.010737 14.577704 209.952772 13.6356688 211.114832 13.6356688L215.323021 13.6356688C214.160962 13.6356688 213.218926 12.6936335 213.218926 11.5315742 213.218926 10.3695148 214.160962 9.42747953 215.323021 9.42747953L212.318107 9.42747953C211.156048 9.42747953 210.214013 8.48544427 210.214013 7.3233849 210.214013 6.16132552 211.156048 5.21929026 212.318107 5.21929026L225.023476 5.21929026C222.204186 3.90900819 218.908826 2.97652411 215.113376 2.48735214 180.469518-1.96323931 168.100455.980527753 163.737216 4.01601456 158.35414 7.75031847 152.348681 10.4975432 145.930482 11.8209281 124.555414 16.2300273 84.5808917 21.5366697 48.3494086 10.121929 30.3417652 4.44404004 16.9572338 14.0353048 8.93612375 30.055687L239.683348 30.055687C239.381984 25.399818 238.480073 21.1020928 236.82475 17.3372157 236.444551 17.6645484 235.959383 17.8443551 235.457689 17.8438581zM.740309372 60.2948135C-.194773998 69.7182466.12245241 79.224024 1.68371247 88.5641492L215.408189 96.3799818C221.357605 89.5361658 226.352939 81.9182815 230.258053 73.7339399L.740309372 60.2948135zM85.2709736 80.4622384L81.0627843 80.4622384C82.2248437 80.4622384 83.166879 81.4042737 83.166879 82.566333 83.166879 83.7283924 82.2248437 84.6704277 81.0627843 84.6704277L56.7199272 84.6704277C55.5578678 84.6704277 54.6158326 83.7283924 54.6158326 82.566333 54.6158326 81.4042737 55.5578678 80.4622384 56.7199272 80.4622384L60.9281165 80.4622384C59.7660571 80.4622384 58.8240218 79.5202031 58.8240218 78.3581438 58.8240218 77.1960844 59.7660571 76.2540491 60.9281165 76.2540491L57.9232029 76.2540491C56.7611435 76.2540491 55.8191083 75.3120139 55.8191083 74.1499545 55.8191083 72.9878951 56.7611435 72.0458599 57.9232029 72.0458599L82.2660601 72.0458599C83.4281194 72.0458599 84.3701547 72.9878951 84.3701547 74.1499545 84.3701547 75.3120139 83.4281194 76.2540491 82.2660601 76.2540491L85.2709736 76.2540491C86.433033 76.2540491 87.3750682 77.1960844 87.3750682 78.3581438 87.3750682 79.5202031 86.433033 80.4622384 85.2709736 80.4622384zM239.694268 30.199818L6.35705187 35.877707C3.52029117 43.1716106 1.64877161 51.4198362.775250227 59.9716106L235.606187 59.9716106C237.13944 54.9493665 238.273452 49.8138206 238.997634 44.6129208 239.696451 39.5858053 239.975978 34.7268426 239.694268 30.199818zM48.1463148 48.7970883L43.9381256 48.7970883C45.1001849 48.7970883 46.0422202 49.7391235 46.0422202 50.9011829 46.0422202 52.0632423 45.1001849 53.0052775 43.9381256 53.0052775L19.5952684 53.0052775C18.433209 53.0052775 17.4911738 52.0632423 17.4911738 50.9011829 17.4911738 49.7391235 18.433209 48.7970883 19.5952684 48.7970883L23.8034577 48.7970883C22.6413983 48.7970883 21.6993631 47.855053 21.6993631 46.6929936 21.6993631 45.5309343 22.6413983 44.588899 23.8034577 44.588899L20.7985441 44.588899C19.6364848 44.588899 18.6944495 43.6468637 18.6944495 42.4848044 18.6944495 41.322745 19.6364848 40.3807097 20.7985441 40.3807097L45.1414013 40.3807097C46.3034607 40.3807097 47.2454959 41.322745 47.2454959 42.4848044 47.2454959 43.6468637 46.3034607 44.588899 45.1414013 44.588899L48.1463148 44.588899C49.3083742 44.588899 50.2504095 45.5309343 50.2504095 46.6929936 50.2504095 47.855053 49.3083742 48.7970883 48.1463148 48.7970883z"
          />
          <g transform="translate(146.533 88.226)">
            <path
              stroke="#535461"
              stroke-width="2"
              d="M1.64877161,48.1048226 C1.64877161,48.1048226 7.80709736,32.9273885 19.3070064,27.2975432 C24.1476065,24.9697837 28.1024269,21.1345045 30.577616,16.3676069 C31.7337867,14.0930973 32.6789628,11.7173646 33.4012739,9.27024568"
            />
            <path
              fill="#009CE3"
              fill-rule="nonzero"
              d="M40.6274795 5.67788899C39.4285714 7.18471338 33.2243858 9.39035487 33.2243858 9.39035487 33.2243858 9.39035487 33.9712466 2.83894449 35.1701547 1.34303913 36.4056529-.030201657 38.496585-.204509058 39.9424058.945207612 41.3882265 2.09492428 41.6893442 4.17138963 40.6296633 5.6844404L40.6274795 5.67788899zM38.4982712 17.6145587C36.6726115 18.2282075 30.2696997 16.7017288 30.2696997 16.7017288 30.2696997 16.7017288 34.4516833 11.6178344 36.277343 11.0041856 38.0576183 10.5319396 39.8987715 11.522727 40.4853656 13.2686662 41.0719596 15.0146054 40.2025381 16.9160814 38.4982712 17.6145587zM26.9546861 31.721929C25.0700637 31.3310282 20.311556 26.7799818 20.311556 26.7799818 20.311556 26.7799818 26.4873521 24.5022748 28.3741583 24.8931756 30.1458335 25.3869573 31.2314151 27.1696191 30.8569928 28.9703027 30.4825704 30.7709862 28.7763461 31.9731382 26.9546861 31.7197452L26.9546861 31.721929zM15.8172884 40.4309372C13.8933576 40.3632393 8.43384895 36.6835305 8.43384895 36.6835305 8.43384895 36.6835305 14.1379436 33.4012739 16.0618744 33.4624204 17.3649146 33.4217039 18.5822528 34.1097927 19.219385 35.2471731 19.8565172 36.3845535 19.8074671 37.7820414 19.0921599 38.8719529 18.3768526 39.9618644 17.1142674 40.562911 15.8172884 40.4309372zM24.3079163 12.4367607C24.5546861 14.3475887 28.7235669 19.4402184 28.7235669 19.4402184 28.7235669 19.4402184 31.4686078 13.4565969 31.2240218 11.5457689 30.8700529 9.7389427 29.1747489 8.51681606 27.348668 8.75206741 25.522587 8.98731877 24.1923863 10.5992168 24.3079163 12.4367607zM11.4103731 22.7858053C12.2161965 24.532848 17.7193813 28.1470428 17.7193813 28.1470428 17.7193813 28.1470428 18.5492266 21.6152866 17.7434031 19.8682439 17.2754941 18.6531408 16.1707483 17.7990138 14.8769834 17.6520901 13.5832184 17.5051664 12.3150804 18.0898218 11.5866191 19.1690615 10.8581578 20.2483013 10.7902309 21.6430708 11.4103731 22.7879891L11.4103731 22.7858053zM.255505005 34.5652411C.753412193 36.4258417 5.56869882 40.9157416 5.56869882 40.9157416 5.56869882 40.9157416 7.49044586 34.6198362 6.99035487 32.7592357 6.39706049 31.0177208 4.55495859 30.0346254 2.77793904 30.5111478 1.00091948 30.9876702-.102148377 32.7605372.255505005 34.5652411z"
            />
            <path
              fill="#009CE3"
              fill-rule="nonzero"
              d="M40.6274795 5.67788899C39.4285714 7.18471338 33.2243858 9.39035487 33.2243858 9.39035487 33.2243858 9.39035487 33.9712466 2.83894449 35.1701547 1.34303913 36.4056529-.030201657 38.496585-.204509058 39.9424058.945207612 41.3882265 2.09492428 41.6893442 4.17138963 40.6296633 5.6844404L40.6274795 5.67788899zM38.4982712 17.6145587C36.6726115 18.2282075 30.2696997 16.7017288 30.2696997 16.7017288 30.2696997 16.7017288 34.4516833 11.6178344 36.277343 11.0041856 38.0576183 10.5319396 39.8987715 11.522727 40.4853656 13.2686662 41.0719596 15.0146054 40.2025381 16.9160814 38.4982712 17.6145587zM26.9546861 31.721929C25.0700637 31.3310282 20.311556 26.7799818 20.311556 26.7799818 20.311556 26.7799818 26.4873521 24.5022748 28.3741583 24.8931756 30.1458335 25.3869573 31.2314151 27.1696191 30.8569928 28.9703027 30.4825704 30.7709862 28.7763461 31.9731382 26.9546861 31.7197452L26.9546861 31.721929zM15.8172884 40.4309372C13.8933576 40.3632393 8.43384895 36.6835305 8.43384895 36.6835305 8.43384895 36.6835305 14.1379436 33.4012739 16.0618744 33.4624204 17.3649146 33.4217039 18.5822528 34.1097927 19.219385 35.2471731 19.8565172 36.3845535 19.8074671 37.7820414 19.0921599 38.8719529 18.3768526 39.9618644 17.1142674 40.562911 15.8172884 40.4309372zM24.3079163 12.4367607C24.5546861 14.3475887 28.7235669 19.4402184 28.7235669 19.4402184 28.7235669 19.4402184 31.4686078 13.4565969 31.2240218 11.5457689 30.8700529 9.7389427 29.1747489 8.51681606 27.348668 8.75206741 25.522587 8.98731877 24.1923863 10.5992168 24.3079163 12.4367607zM11.4103731 22.7858053C12.2161965 24.532848 17.7193813 28.1470428 17.7193813 28.1470428 17.7193813 28.1470428 18.5492266 21.6152866 17.7434031 19.8682439 17.2754941 18.6531408 16.1707483 17.7990138 14.8769834 17.6520901 13.5832184 17.5051664 12.3150804 18.0898218 11.5866191 19.1690615 10.8581578 20.2483013 10.7902309 21.6430708 11.4103731 22.7879891L11.4103731 22.7858053zM.255505005 34.5652411C.753412193 36.4258417 5.56869882 40.9157416 5.56869882 40.9157416 5.56869882 40.9157416 7.49044586 34.6198362 6.99035487 32.7592357 6.39706049 31.0177208 4.55495859 30.0346254 2.77793904 30.5111478 1.00091948 30.9876702-.102148377 32.7605372.255505005 34.5652411z"
              opacity=".25"
            />
          </g>
          <g transform="translate(137.361 56.124)">
            <path
              stroke="#535461"
              stroke-width="2"
              d="M6.45313922,58.0149227 C6.45313922,58.0149227 7.23057325,41.6538672 16.2125569,32.5277525 C20.0006769,28.7227012 22.4527116,23.7918128 23.2007279,18.4749773 C23.537497,15.9479016 23.6420285,13.3952855 23.5130118,10.8491356"
            />
            <path
              fill="#009CE3"
              fill-rule="nonzero"
              d="M29.1646952 5.06424022C28.533576 6.8833485 23.4103731 11.0172884 23.4103731 11.0172884 23.4103731 11.0172884 21.9472247 4.59909008 22.5783439 2.7799818 22.9194688 1.51881918 23.9356825.553324984 25.212644.27716049 26.4896054.000995995154 27.8139566.460303467 28.6457194 1.46780931 29.4774821 2.47531516 29.6776834 3.86268275 29.1646952 5.06424022zM31.1039126 17.022748C29.5752502 18.2063694 23.0369427 18.8920837 23.0369427 18.8920837 23.0369427 18.8920837 25.2971793 12.7075523 26.8149227 11.5239308 27.787955 10.6587501 29.1613421 10.4063721 30.3783944 10.8690959 31.5954468 11.3318197 32.4542561 12.4328798 32.6067122 13.7259718 32.7591683 15.0190637 32.1799788 16.2896645 31.1039126 17.022748zM24.8909918 34.1699727C22.9823476 34.4254777 16.9856233 31.71101 16.9856233 31.71101 16.9856233 31.71101 22.0585987 27.5137398 23.9737944 27.2582348 25.2507835 27.0020096 26.5642912 27.4773074 27.3816219 28.4913701 28.1989525 29.5054327 28.384426 30.8899218 27.862823 32.0833551 27.3412201 33.2767883 26.199129 34.081051 24.899727 34.1699727L24.8909918 34.1699727zM17.2717015 46.078253C15.432939 46.6525933 9.06278435 44.9863512 9.06278435 44.9863512 9.06278435 44.9863512 13.3517743 39.9919927 15.1905369 39.4176524 16.9813707 38.9806577 18.8036322 40.0100538 19.3537293 41.769441 19.9038264 43.5288282 18.9925068 45.4129168 17.2717015 46.0738854L17.2717015 46.078253zM15.9985441 16.8524113C16.8720655 18.5732484 22.488808 21.9952684 22.488808 21.9952684 22.488808 21.9952684 23.0937216 15.4438581 22.2289354 13.7186533 21.2977119 12.1273957 19.2903486 11.5335143 17.643249 12.3619713 15.9961495 13.1904283 15.2761874 15.156098 15.9985441 16.8524113zM7.2633303 30.8942675C8.60418562 32.2766151 14.9939945 33.8598726 14.9939945 33.8598726 14.9939945 33.8598726 13.611647 27.4242038 12.2707916 26.0418562 10.9062427 24.8008285 8.81207333 24.8342039 7.4877645 26.1180846 6.16345568 27.4019653 6.06519087 29.4940942 7.2633303 30.8964513L7.2633303 30.8942675zM.646405823 45.7048226C1.73830755 47.2946315 7.7656051 49.9348499 7.7656051 49.9348499 7.7656051 49.9348499 7.49044586 43.3572338 6.40291174 41.7674249 5.26176899 40.3383341 3.21170509 40.0309467 1.70161091 41.0625101.191516725 42.0940735-.267667018 44.1155579.648589627 45.6982712L.646405823 45.7048226z"
            />
          </g>
          <path
            fill="#009CE3"
            fill-rule="nonzero"
            d="M0.161601456,11.5342504 C11.3040787,15.2805258 24.8977875,13.0021556 37.5393417,13.2656984 C39.2707897,13.3025377 41.1014205,13.4102219 42.4899795,14.0563269 C43.8785384,14.7024319 44.5614827,15.7566032 45.5136374,16.6492482 C49.0558797,19.9902911 56.3132256,21.0642989 62.6580899,20.4975402 C69.0029543,19.9307814 74.8207329,18.0548099 80.7943703,16.6265778 C91.1433852,14.1555097 102.974474,13.0333273 113.1818,15.7254314 C114.119785,15.9719715 115.105946,16.2553509 116.109109,16.1590019 C118.347806,15.937966 119.013747,14.1470083 120.578001,13.1240087 C123.411795,11.2763752 129.541291,11.7779567 130.779659,9.34372778 C131.507944,7.92683088 129.833172,6.4532581 128.011043,5.47843304 C121.034242,1.74916039 111.05362,1.13422714 101.923137,1.70948728 C92.7926532,2.28474742 83.8151945,3.87167195 74.6365363,3.87733954 C63.2021784,3.87733954 52.1532163,1.44311066 40.8293763,0.445615245 C32.9854351,-0.245830442 24.424544,-0.160816628 17.0708491,1.86251215 C9.12205746,4.0785389 7.3651053,9.02067529 0.161601456,11.5342504 Z"
            transform="translate(52 150)"
          />
        </g>
        <path
          fill="#009CE3"
          fill-rule="nonzero"
          d="M55.0029907,29.0082243 L57.8650467,29.0082243 C56.7842935,28.9720633 55.9268688,28.0854702 55.9268688,27.0041121 C55.9268688,25.9227541 56.7842935,25.036161 57.8650467,25 L81.0485981,25 C82.1293514,25.036161 82.9867761,25.9227541 82.9867761,27.0041121 C82.9867761,28.0854702 82.1293514,28.9720633 81.0485981,29.0082243 L78.1865421,29.0082243 C79.2927632,29.0082243 80.1895327,29.9049938 80.1895327,31.011215 C80.1895327,32.1174361 79.2927632,33.0142056 78.1865421,33.0142056 L82.1925234,33.0142056 C83.2732766,33.0503666 84.1307013,33.9369597 84.1307013,35.0183178 C84.1307013,36.0996758 83.2732766,36.9862689 82.1925234,37.0224299 L59.008972,37.0224299 C57.9282187,36.9862689 57.070794,36.0996758 57.070794,35.0183178 C57.070794,33.9369597 57.9282187,33.0503666 59.008972,33.0142056 L55.0029907,33.0142056 C53.8967695,33.0142056 53,32.1174361 53,31.011215 C53,29.9049938 53.8967695,29.0082243 55.0029907,29.0082243 Z"
          opacity=".1"
        />
        <g fill="#009CE3" fill-rule="nonzero" transform="translate(95 14)">
          <path
            d="M11.0557009 8.52785047C11.2065923 8.24023985 11.1178314 7.88519626 10.8493458 7.70242991 10.8294023 7.68917272 10.8113012 7.67333426 10.795514 7.6553271 10.6991472 7.55154816 10.6828792 7.39660477 10.75559 7.27507383 10.8283008 7.1535429 10.9725234 7.09461947 11.1095327 7.13046729 11.1329662 7.13669229 11.1555603 7.14572993 11.1768224 7.15738318 11.464433 7.30827458 11.8194766 7.21951368 12.002243 6.95102804 12.0160396 6.93081619 12.0318187 6.91203154 12.0493458 6.89495327 12.154284 6.80139004 12.3079225 6.78707166 12.4283427 6.85963254 12.5487629 6.93219343 12.6078931 7.07471858 12.5742056 7.21121495 12.5679806 7.2346484 12.558943 7.25724252 12.5472897 7.27850467 12.3963983 7.56611529 12.4851592 7.92115888 12.7536449 8.10392523 12.7738162 8.11692865 12.7926055 8.13196006 12.8097196 8.14878505 12.9053782 8.25347719 12.9209323 8.40856126 12.84797 8.53016516 12.7750076 8.65176906 12.6308492 8.71102561 12.4934579 8.67588785 12.4700245 8.66966285 12.4474304 8.66062521 12.4261682 8.64897196 12.1385576 8.49808056 11.783514 8.58684146 11.6007477 8.8553271 11.5882902 8.87521175 11.5732001 8.89331986 11.5558879 8.90915888 11.4514473 9.00400003 11.2972991 9.01946496 11.1760998 8.94726111 11.0549005 8.87505727 10.9951084 8.73213855 11.028785 8.59514019 11.03501 8.57170674 11.0440477 8.54911262 11.0557009 8.52785047zM.345420561 1.71588785C.49603538 1.42895129.407223316 1.07466839.139065421.89271028.119121971.879453091.101020875.863614631.0852336449.845607477-.00960750875.741166959-.0250724318.587018693.0471314093.465819388.11933525.344620083.262253978.284828034.399252336.318504673.422685787.324729669.445279905.333767316.466542056.345420561.753606733.496755597 1.10851424.408993142 1.29196262.141308411 1.30510773.12123936 1.32012838.102463542 1.33682243.0852336449 1.44047691-.00734407848 1.59196011-.0226349789 1.7120249.0473602437 1.8320897.117355466 1.89341751.256710654 1.86392523.392523364 1.85728408.415098304 1.8482614.436903116 1.83700935.457570093 1.68201807.746803184 1.77119368 1.10641352 2.04336449 1.28971963 2.06330794 1.30297682 2.08140903 1.31881528 2.09719626 1.33682243 2.1998169 1.44110397 2.21819478 1.60188661 2.14175293 1.72663548 2.06531107 1.85138434 1.91371217 1.908011 1.77420561 1.86392523 1.75046495 1.85866021 1.72773845 1.84956961 1.70691589 1.83700935 1.41917767 1.68719144 1.06487945 1.775766.881495327 2.04336449.868272452 2.06400485.852440721 2.08285215.834392523 2.09943925.729454316 2.19300248.57581584 2.20732087.455395646 2.13475998.334975452 2.06219909.275845257 1.91967395.30953271 1.78317757.319438373 1.75970976.331450099 1.73718777.345420561 1.71588785z"
            opacity=".3"
          />
          <circle cx="27.335" cy="23.168" r="3.701" opacity=".1" />
          <circle cx="44.831" cy="4.793" r="2.019" opacity=".1" />
        </g>
        <g
          fill="#009CE3"
          fill-rule="nonzero"
          transform="rotate(-11 129.078 -997.076)"
        >
          <path
            d="M21.8145794,8.19327103 C21.9662836,7.90646545 21.8772809,7.55142223 21.6082243,7.37009346 C21.5887281,7.35626036 21.5706912,7.34047803 21.5543925,7.32299065 C21.4587339,7.21829851 21.4431798,7.06321444 21.5161422,6.94161054 C21.5891045,6.82000664 21.733263,6.7607501 21.8706542,6.79588785 C21.8932291,6.802529 21.915034,6.81155168 21.9357009,6.82280374 C22.2231808,6.97478095 22.5789815,6.88583076 22.7611215,6.6164486 C22.7749546,6.59695243 22.7907369,6.57891549 22.8082243,6.56261682 C22.9131625,6.46905359 23.066801,6.45473521 23.1872212,6.52729609 C23.3076414,6.59985698 23.3667716,6.74238213 23.3330841,6.8788785 C23.3275917,6.90184229 23.3185079,6.92379483 23.3061682,6.94392523 C23.1563503,7.23166345 23.2449249,7.58596167 23.5125234,7.76934579 C23.5327352,7.78314242 23.5515199,7.79892153 23.5685981,7.8164486 C23.6621614,7.92138681 23.6764797,8.07502528 23.6039189,8.19544548 C23.531358,8.31586567 23.3888328,8.37499586 23.2523364,8.34130841 C23.2288365,8.33528537 23.2062177,8.32623784 23.1850467,8.31439252 C22.8979824,8.16485459 22.5444479,8.25347904 22.3618692,8.52074766 C22.3473969,8.54043779 22.3316629,8.55916869 22.3147664,8.57682243 C22.2100742,8.67248103 22.0549901,8.68803511 21.9333862,8.61507277 C21.8117823,8.54211043 21.7525258,8.39795198 21.7876636,8.26056075 C21.7946878,8.23739998 21.8036931,8.21488695 21.8145794,8.19327103 Z"
            opacity=".3"
          />
          <circle cx="3.884" cy="3.869" r="3.701" opacity=".1" />
          <circle cx="29.941" cy="25.539" r="2.019" opacity=".1" />
        </g>
        <g
          fill="#009CE3"
          fill-rule="nonzero"
          transform="rotate(80 41.536 201.75)"
        >
          <path
            d="M21.8145794,8.19327103 C21.9662836,7.90646545 21.8772809,7.55142223 21.6082243,7.37009346 C21.5887281,7.35626036 21.5706912,7.34047803 21.5543925,7.32299065 C21.4587339,7.21829851 21.4431798,7.06321444 21.5161422,6.94161054 C21.5891045,6.82000664 21.733263,6.7607501 21.8706542,6.79588785 C21.8932291,6.802529 21.915034,6.81155168 21.9357009,6.82280374 C22.2231808,6.97478095 22.5789815,6.88583076 22.7611215,6.6164486 C22.7749546,6.59695243 22.7907369,6.57891549 22.8082243,6.56261682 C22.9131625,6.46905359 23.066801,6.45473521 23.1872212,6.52729609 C23.3076414,6.59985698 23.3667716,6.74238213 23.3330841,6.8788785 C23.3275917,6.90184229 23.3185079,6.92379483 23.3061682,6.94392523 C23.1563503,7.23166345 23.2449249,7.58596167 23.5125234,7.76934579 C23.5327352,7.78314242 23.5515199,7.79892153 23.5685981,7.8164486 C23.6621614,7.92138681 23.6764797,8.07502528 23.6039189,8.19544548 C23.531358,8.31586567 23.3888328,8.37499586 23.2523364,8.34130841 C23.2288365,8.33528537 23.2062177,8.32623784 23.1850467,8.31439252 C22.8979824,8.16485459 22.5444479,8.25347904 22.3618692,8.52074766 C22.3473969,8.54043779 22.3316629,8.55916869 22.3147664,8.57682243 C22.2100742,8.67248103 22.0549901,8.68803511 21.9333862,8.61507277 C21.8117823,8.54211043 21.7525258,8.39795198 21.7876636,8.26056075 C21.7946878,8.23739998 21.8036931,8.21488695 21.8145794,8.19327103 Z"
            opacity=".3"
          />
          <circle cx="3.884" cy="3.869" r="3.701" opacity=".1" />
          <circle cx="29.941" cy="25.539" r="2.019" opacity=".1" />
        </g>
        <g
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          transform="translate(10 165)"
        >
          <circle cx="10.036" cy="2.876" r="2.019" />
          <circle cx="17.775" cy="11.967" r="2.019" />
          <circle cx="2.634" cy="17.447" r="2.019" />
        </g>
        <ellipse
          cx="43"
          cy="201.019"
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          rx="10"
          ry="2.019"
        />
        <ellipse
          cx="164"
          cy="201.019"
          fill="#009CE3"
          fill-rule="nonzero"
          opacity=".1"
          rx="10"
          ry="2.019"
        />
        <g transform="translate(12 78)">
          <path
            fill="#FFF"
            stroke="#E0E0E0"
            stroke-width="2"
            d="M36,101 L181,101 L181,4 C181,2.34314575 179.656854,1 178,1 L39,1 C37.3431458,1 36,2.34314575 36,4 L36,101 Z"
          />
          <path
            stroke="#E0E0E0"
            stroke-linecap="square"
            stroke-width="2"
            d="M36.5,17.5 L181,17.5"
          />
          <circle cx="44" cy="9" r="3" fill="#EB6262" />
          <circle cx="52" cy="9" r="3" fill="#F8AC58" />
          <circle cx="60" cy="9" r="3" fill="#1BB393" />
          <rect
            width="169"
            height="1"
            x="22"
            y="102"
            fill="#FFF"
            stroke="#E0E0E0"
            stroke-width="2"
          />
          <path
            stroke="#E0E0E0"
            stroke-linecap="round"
            stroke-width="2"
            d="M24.5 101.25L192.5 101.25M201.5 101.208333L210.5 101.208333M213.5 101.200231L216.5 101.200231M195.5 101.200231L198.5 101.200231M.5 101.200231L3.5 101.200231M18.5 101.200231L21.5 101.200231M6.5 101.201389L15.5 101.201389"
          />
        </g>
        <rect
          width="11"
          height="16"
          x="142"
          y="148"
          fill="#FFF"
          stroke="#E0E0E0"
          stroke-width="2"
          rx="5.5"
        />
        <path
          stroke="#E0E0E0"
          stroke-linecap="round"
          stroke-width="2"
          d="M147.5,155.5 L147.5,160.5"
        />
        <rect
          width="26"
          height="18"
          x="134.5"
          y="137.5"
          fill="#FFF"
          stroke="#FFF"
        />
        <g
          stroke="#E0E0E0"
          stroke-linecap="round"
          stroke-width="4"
          transform="translate(72 115)"
        >
          <path
            d="M-6.9388939e-17 10L20 10M10 0L10 20"
            transform="rotate(45 7.071 17.071)"
          />
          <path
            d="M-6.9388939e-17 10L20 10M10 0L10 20"
            transform="rotate(45 40.571 97.947)"
          />
        </g>
        <path
          stroke="#E0E0E0"
          stroke-linecap="round"
          stroke-width="2"
          d="M86.5,155.5 L153.5,155.5"
        />
        <path
          stroke="#E0E0E0"
          stroke-linecap="round"
          stroke-width="2"
          d="M124,140.5 C124,139.119288 122.880712,138 121.5,138 C120.119288,138 119,139.119288 119,140.5"
          transform="rotate(-90 121.5 139.25)"
        />
        <rect
          width="6"
          height="7"
          x="128.5"
          y="136.5"
          fill="#FFF"
          stroke="#FFF"
        />
      </g>
    </g>
  </svg>
  <div class="error-description">
    {{ 'loading_error' | translate }}
  </div>
  <button aui-button="primary" size="large" (click)="reload.emit()">
    {{ 'reload' | translate }}
  </button>
</div>
