<ul>
  <li>
    <label>Feature devops-app</label>
    <span *aclFeatureGate="'app-market'; else notEnabled">
      <acl-gate-test></acl-gate-test>
    </span>
  </li>
  <li>
    <label>Feature devops-app</label>
    <span *aclFeatureGate="'devops-app'; else notEnabled">
      <acl-gate-test></acl-gate-test>
    </span>
  </li>
  <li>
    <label>Feature not-existed</label>
    <span *aclFeatureGate="'not-existed'; else notEnabled">✅</span>
  </li>
</ul>

<button aui-button (click)="forceRefetch()">Force refetch</button>
<ng-template #notEnabled>❎</ng-template>
