<div *ngIf="isEmptyList$ | async" class="empty-placeholder">
  {{ noDataHint$ | async }}
</div>

<div *ngIf="!(isEmptyList$ | async)" class="container">
  <ng-container *ngIf="list.loadingError$ | async">
    <div *ngIf="![410, 403].includes(loadingErrorCode$ | async)">
      <span>{{ 'loading_error' | translate }}, {{ 'please' | translate }}</span>
      <button aui-button="text" size="small" (click)="retry()">
        {{ 'retry' | translate }}
      </button>
    </div>

    <div *ngIf="(loadingErrorCode$ | async) === 410">
      <span>
        {{ 'list_data_has_expired' | translate }}, {{ 'please' | translate }}
      </span>
      <button aui-button="text" size="small" (click)="list.reload()">
        {{ 'refresh' | translate }}
      </button>
      <span>{{ 'or' | translate }}</span>
      <button aui-button="text" size="small" (click)="list.loadMore()">
        {{ 'continue_load' | translate }}
      </button>
    </div>

    <div *ngIf="(loadingErrorCode$ | async) === 403">
      <span>
        {{ 'no_permission_description' | translate }}
      </span>
    </div>
  </ng-container>

  <ng-container *ngIf="!(list.loadingError$ | async)">
    <div *ngIf="list.loading$ | async" class="loading">
      <aui-icon icon="spinner" margin="right"></aui-icon>
      <span>{{ 'loading' | translate }}</span>
    </div>
    <div *ngIf="!autoLoad && !(list.loading$ | async) && list.hasMore$ | async">
      <button aui-button="text" size="small" (click)="list.loadMore()">
        {{ 'load_more' | translate }}
      </button>
    </div>
  </ng-container>
</div>

<aui-back-top *ngIf="backTop"></aui-back-top>
