<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ intl.pipelineImageRepository }}
    </label>
    <ng-container *ngIf="imageRegistries$ | async as imageRegistries">
      <div auiFormItemControl required class="required-wrapper">
        <aui-select
          [loading]="imageRegistries.loading"
          formControlName="registry"
          filterable
          [trackFn]="registryTracker"
          [filterFn]="filterFn"
        >
          <aui-option
            *ngFor="let registry of imageRegistries.data"
            [label]="optionLabelTemplate"
            [labelContext]="{ registry: registry }"
            [value]="registry"
            class="image-option"
          >
            <div class="repository">
              <img [src]="registry.type | pure: getImage" />
              <div>
                <div class="image-name">{{ registry.projectPath }}</div>
                <div class="repo-endpoint">{{ registry.endpoint }}</div>
              </div>
            </div>
          </aui-option>
          <aui-option-placeholder>{{ intl.noData }}</aui-option-placeholder>
        </aui-select>
        <div class="image-input">
          <input
            aui-input
            formControlName="newRepositoryPath"
            [auiAutocomplete]="repoSuggestions"
            auiAutocompleteTrigger="input"
          />
          <aui-autocomplete #repoSuggestions>
            <aui-suggestion-group>
              <aui-suggestion
                *ngFor="
                  let image of selectedImageRegistry | pure: getImageSuggestions
                "
                [value]="image"
              >
                {{ image }}
              </aui-suggestion>
            </aui-suggestion-group>
          </aui-autocomplete>
        </div>
      </div>
    </ng-container>
  </aui-form-item>
  <acl-image-push-tags [form]="tags" [context]="context"></acl-image-push-tags>
</ng-container>

<ng-template #optionLabelTemplate let-registry="registry">
  <div class="registry-label">
    <img [src]="registry.type | pure: getImage" />
    <span>{{ registry.projectPath }}</span>
  </div>
</ng-template>
