@import '../../styles/repository';
@import '../../styles/required-wrapper';

.image-input {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  > input {
    width: 320px;
  }
  &:before {
    content: '/';
    margin: auto 8px;
    flex-shrink: 0;
  }
}

.registry-label {
  display: flex;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
