@import '~@alauda/ui/theme/var';

.title {
  margin-bottom: 12px;
  font-size: 18px;
  color: $color-text-main;
}

$card-spacing: 5px !default;

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$card-spacing) 20px;

  ::ng-deep {
    > {
      .card,
      aui-card {
        margin: {
          left: $card-spacing;
          right: $card-spacing;
        }

        flex: 1;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
        min-width: 225px;
        max-width: 264px;

        &:hover {
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
        }
      }

      // stylelint-disable-next-line
      aui-card + aui-card > .aui-card {
        margin-top: 0;
      }
    }
  }
}
