:host {
  display: flex;
  flex-direction: column;
  max-height: 150px;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;

  > * {
    flex: 1;
    overflow: auto;
  }
}

footer {
  padding-top: 12px;
}
