@import '~normalize.css';

$font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue',
  'Helvetica', 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei',
  'WenQuanYi Micro Hei', sans-serif !default;

* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }

  &:focus {
    outline: 0;
  }
}

html {
  height: 100vh;
  font-size: 14px;
  line-height: (4 / 3);
}

body {
  font: {
    family: $font-family;
    weight: 400;
  }

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  color: #494949;
  background: #f1f1f1 no-repeat fixed top center / cover;
}

hr {
  border: 0;
  height: 1px;
}

a {
  text-decoration: none;

  &[ng-click],
  &[click] {
    cursor: pointer;
  }
}

[hidden] {
  display: none !important;
}

pre,
code {
  word-wrap: normal;
  font-size: 12px;
  overflow-x: auto;
  padding: 0 8px;
  background: #ededed;
  border-radius: 2px;
}

label {
  margin-bottom: 0;
}

input {
  &:-webkit-autofill {
    background: {
      color: #fff;
      image: none;
    }

    box-shadow: 0 0 0 1000px white inset;
  }
}

@for $i from 1 through 6 {
  .flex-#{$i} {
    flex: $i;
  }
}

.ng-animate {
  .ng-hide-add {
    &,
    &-active {
      display: none;
    }
  }
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);

  &.index-loading-spinner {
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }

  .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006eff;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
  }

  .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);

    &:before {
      animation-delay: 0.3s;
    }
  }

  .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);

    &:before {
      animation-delay: 0.6s;
    }
  }

  .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);

    &:before {
      animation-delay: 0.9s;
    }
  }
}

@keyframes sk-foldCubeAngle {
  from,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  to {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
