<div class="account-menu" [auiDropdown]="menu">
  <aui-icon icon="basic:account_circle_s" class="account-menu__icon"></aui-icon>
  <div class="account-menu__display">{{ displayName$ | async }}</div>
  <aui-icon class="account-menu__pointer" icon="angle_down"></aui-icon>
</div>

<aui-menu #menu>
  <aui-menu-item (click)="navigateToLink('/home/personal-info')">
    <aui-icon icon="basic:user_s"></aui-icon>
    <span>{{ 'my_profile' | translate }}</span>
  </aui-menu-item>

  <aui-menu-item (click)="changeLanguage()">
    <aui-icon [icon]="icon"></aui-icon>
    {{ 'next_locale' | translate }}
  </aui-menu-item>

  <aui-menu-item [divide]="true" (click)="logout()">
    <aui-icon icon="basic:sign_out_s"></aui-icon>
    {{ 'logout' | translate }}
  </aui-menu-item>
</aui-menu>
