<aui-page>
  <ng-container *auiPageHeader>
    <img class="brand-logo" src="logos/logo.svg" alt="logo" />
    <span class="logo-separator"></span>
    <span class="project-title">{{ 'console' | translate }}</span>
    <div class="flex-1"></div>
    <acl-platform-center-nav></acl-platform-center-nav>
    <acl-account-menu></acl-account-menu>
  </ng-container>
  <main *auiPageContent>
    <a routerLink="/feature-gate">feature-gate</a>
    <br />
    <acl-page-state [adapter]="dataLoader">
      <ng-template let-resource>
        {{ resource | json }}
      </ng-template>
    </acl-page-state>
    {{ 'remote' | translate }}
    <br />
    {{ time | aclStandardTime }}
    {{ time | aclRelativeTime }}
    <ng-container
      *ngFor="let cardSection of cardSections$ | async; last as isLast"
    >
      <ng-container *rxVar="cardSection.group === 'production'; let isTop">
        <acl-card-section
          [class.top]="isTop"
          [title]="cardSection.title | translate: null:true"
        >
          <a
            class="card"
            *ngFor="let item of cardSection.items"
            [href]="
              isTop
                ? ('javascript:;' | pure: sanitizer.bypassSecurityTrustUrl)
                : item.homepage
            "
            [target]="
              !isTop && (item.openInBlank == null || item.openInBlank)
                ? '_blank'
                : ''
            "
          >
            <aui-card>
              <img
                [src]="item.logoURL || fallbackLogo"
                (error)="item.logoURL = fallbackLogo"
                alt="logo"
              />
              <div class="title">{{ item.title | translate: null:true }}</div>
              <ng-container *ngIf="isTop">
                <hr />
                <div class="version">{{ item.version }}</div>
              </ng-container>
              <div class="description">{{ item.description }}</div>
              <a
                *ngIf="isTop"
                [href]="item.homepage"
                [target]="
                  item.openInBlank != null && item.openInBlank ? '_blank' : ''
                "
              >
                <button aui-button="primary">
                  {{ 'enterProduct' | translate }}
                </button>
              </a>
            </aui-card>
          </a>
        </acl-card-section>
        <hr *ngIf="isTop && !isLast" />
      </ng-container>
    </ng-container>
  </main>
</aui-page>
