acl-disabled-container + acl-disabled-container {
  .acl-disabled-container > .aui-button {
    margin-left: 8px;
  }
}

// stylelint-disable-next-line no-descending-specificity
acl-disabled-container + .aui-button,
.aui-button + acl-disabled-container {
  margin-left: 8px;
}

.acl-disabled-container {
  display: inline;
}
