<form [formGroup]="form" auiForm auiFormLabelWidth="150px" (submit)="submit()">
  <aui-dialog-header>{{ intl.pipelineSelectImage }}</aui-dialog-header>
  <aui-dialog-content>
    <aui-form-item>
      <label auiFormItemLabel>{{ intl.pipelineMethod }}</label>
      <aui-radio-group auiFormItemControl formControlName="type">
        <aui-radio-button value="select">
          {{ intl.pipelineSelect }}
        </aui-radio-button>
        <aui-radio-button value="create">
          {{ intl.pipelineNew }}
        </aui-radio-button>
        <aui-radio-button value="input">
          {{ intl.pipelineInput }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <ng-container [ngSwitch]="type$ | async">
      <acl-image-push-create
        *ngSwitchCase="'create'"
        [form]="form"
        [context]="data.context"
      ></acl-image-push-create>
      <acl-image-push-input
        *ngSwitchCase="'input'"
        [form]="form"
        [context]="data.context"
      ></acl-image-push-input>
      <acl-image-push-select
        *ngSwitchDefault
        [form]="form"
        [context]="data.context"
      ></acl-image-push-select>
    </ng-container>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button type="submit" aui-button="primary" [disabled]="form.invalid">
      {{ intl.pipelineConfirm }}
    </button>
    <button type="button" aui-button auiDialogClose>
      {{ intl.cancel }}
    </button>
  </aui-dialog-footer>
</form>
